/* Autum Color Theme */

body {
	background: #fafafa;
	color: #333;
	}

#header {
	background: #282923;
	}
	
#footer {
	background: #eee;
	}

#headerimg .description {
	color:#aaa;
	}

h2.pagetitle {
	color: #666;
	}

#sidebar ul li h2 {
	color: #999;
	border-bottom: 3px solid #eee;
	}

h1, h1 a, h1 a:hover, h1 a:visited {
	color: #333;
	}
	
#header h1, #header h1 a, #header h1 a:hover, #header h1 a:visited {
	color: #ddd;
	}	
	
h2, h2 a, h2 a:visited, h3, h3 a, h3 a:visited {
	color: #333;
	}

.commentlist li {
	background:#fdfdfd;
	}

.commentlist li .avatar { 
	border: 1px solid #eee;
	background: #fff;
	}


.commentlist li.alt {	
	background:#fefefe;	
}

small, #sidebar ul ul li, #sidebar ul ol li, .nocomments, .postmetadata, strike {
	color: #aaa;
	}

code {
	border: 1px solid #eee;
	background: #fff;
	}

a {
	color: #B85B5A;
	border-bottom: 1px solid #E8C8C8;
	}

a:hover {
	color: #333;
	background: #E8C8C8;
	border-bottom: 1px solid #c47373;
	}

#sidebar #wp-calendar a {
	background: #eee;
	}
#sidebar #wp-calendar a:hover {
	background: #E8C8C8;
	}	

#sidebar #wp-calendar th {
	border-bottom:1px solid #eee;
	}
	
.post hr {
	border-top: 1px dotted #ccc;
	}		
	
.narrowcolumn .postmetadata2 {
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}	

.entry img {
	border: 1px solid #eee;
	}	
	
.entry {
	border-top: 1px solid #eee;
	}
	
#sidebar a {
	border-bottom:1px solid #eee;
	}	
#sidebar a:hover {
	border-bottom: 1px solid #c47373;
	background-color: #E8C8C8;
}	

#sidebar .cat-item a:hover, #sidebar .archives a:hover,
#sidebar #archives ul li a:hover,
#sidebar .linkcat a:hover,
#sidebar .blogroll a:hover {
	background-color: #E8C8C8;
} 

#sidebar div.flickr_badge_image a {
	background: #fff;
	border: 1px solid #eee;
}
#sidebar div.flickr_badge_image a:hover {
	border: 1px solid #ddd;
	background: #fdfdfd;
}


#header #searchform #s {
	background: #000;
	color: #ccc;
	border: 1px solid #555;
	}

#header #searchsubmit {
	background: #666;
	border: 1px solid #777;
	color: #ccc;
	}
	
#content #searchform #s {
	background: #ddd;
	color: #333;
	border: 1px solid #bbb;
	}

#content #searchsubmit {
	background: #666;
	border: 1px solid #777;
	color: #ccc;
	}
	
#commentform input, #commentform textarea, fieldset {
	border: 1px solid #ccc;
	}

#commentform #submit {
	background: #666;
	border: 1px solid #777;
	color:#ccc;
	}
	
legend {
	background: #ccc;
}

.commentlist li {
	border: 1px solid #eee;	
	}
	
#sidebar #wp-calendar td.pad:hover { /* Doesn't work in IE */
	background-color: #fff; }

acronym, abbr {
	border-bottom: 1px dashed #ccc;
	}
	
blockquote {
	border-left: 4px solid #ddd;
	background:#eee;
	color: #666;
	}		

.wp-caption {
	border: 1px solid #ddd;
	background-color: #f3f3f3;
	}

.entry a.more-link, .navigation a {
	background:#ddd;
	border-bottom: 1px solid #ccc;
	color: #666;
	}
.entry a.more-link:hover, .navigation a:hover {
	background: #E8C8C8;
	border-bottom: 1px solid #c47373;
	color:#333;
	}
	
#sidebar li#rssfeeds a:hover, #sidebar .textwidget a:hover, #sidebar #tag_cloud a:hover, #sidebar p a:hover{
	background: #e8c8c8;
	}
	
#pagemenu {	
	background: #ccc;
	border-top: 1px solid #ddd;
}

#pagemenu ul li.page_item a, #pagemenu ul li.cat-item a {
	color: #888;
	background:#eee;	
}	

#pagemenu ul li.page_item a:hover, #pagemenu ul li.cat-item a:hover {
	color: #333;
	background: #fafafa;	
}

#pagemenu ul li.page_item, #pagemenu ul li.cat-item { background: #ddd;}

#pagemenu ul li.current_page_item, #pagemenu ul li.current_page_item a, #pagemenu ul li.current_page_item a:hover, #pagemenu ul li.current-cat, #pagemenu ul li.current-cat a, #pagemenu ul li.current-cat a:hover { 
	color: #000; 
	background: #fafafa;
	}
	
#pagemenu ul li.current_page_item li a {
	background:#eee;
	color: #888;
}

#pagemenu #page-list li:hover {
		background:#eee;
	}
	
#pagemenu #page-list li ul {
	border: 1px solid #ddd;	
}	

#pagemenu #page-list li ul li {
    background: #eee;
	border-top: 1px solid #ddd;
}

.navigation {
	border-top: 1px solid #eee;
	}