/*
Theme Name: simpleX
Theme URI: http://www.wpshoppe.com/themes/
Description: <strong>Simple and Clean</strong> WordPress Blog Theme designed by <a href="http://www.wpshoppe.com">WPshoppe</a>! Now with <strong>Theme Options</strong> to choose different color combinations.
Version: 1.3
Author: Chandra Maharzan
Author URI: http://www.wpshoppe.com/about/
Tags: custom-colors, custom-header, fixed-width, two-columns, black, silver, light, theme-options, right-sidebar, threaded-comments

	Development Log
	===============================================================
	Nov 5, 2008 - 1.0.1 Works in Firefox, Chrome. Few IE Bugs
	Nov 6, 2008 - 1.0.2 Works in IE6, IE7, Firefox 2+, Chrome 0.3
	Nov 6, 2008 - 1.0.3 Sidebar CSS fixes
	Nov 6, 2008 - 1.0.4 Icons added to sidebar
	Nov 7, 2008 - 1.0.5 Single Page Templates customized
	Nov 8, 2008 - 1.0.6 Flickr Badge (from widget) added / CSS
	Nov 9, 2008 - 1.0.7 Comments section CSS
	Nov 9, 2008 - 1.0.8 Footer / RSS beautified!
	Nov 10, 2008 - 1.0.9 Sidebar CSS / Calendar fixed
	Nov 12, 2008 - 1.1 Multi-level menus fixed
	Nov 13, 2008 - 1.1.1 CSS Fixed
	Nov 26, 2008 - 1.1.2 Index Page Link Fixed
	Dec 2, 2008 - 1.1.3	Various CSS Issues Fixed
	Dec 7, 2008 - 1.2 Theme Options / Various CSS Themes, Organized CSS files, Better user interface, Better Typography
	Dec 8, 2008 - 1.2.1 Properly CSS Organized, Valid xHTML/CSS, Tested with IE6, IE7, IE8 Beta 2, FF2, FF3, Chrome 0.4, Safari 3.2.1
	Dec 20, 2008 - 1.3 Compatible with WordPress 2.7, Commented Thread Styles
	
	The CSS, XHTML and design is released under GPL:
	http://www.opensource.org/licenses/gpl-license.php

*/

/* Structure Styles */

body {
	font-size: 62.5%; /* Resets 1em to 10px */
	font-family:  Arial, Verdana, Tahoma;
	text-align: center;
	margin: 0;
	padding: 0;
	}	

#page {
	text-align: left;
	}
	
#main { /* SimpleX addition to center as well as make header footer 100% */
	width: 960px;
	margin: 0 auto;
	}

#content {
	font-size: 1.4em;
	float: left;
	}

.narrowcolumn .entry {
	line-height: 1.6em;
	width: 100%;
	}

.narrowcolumn .postmetadata {
	text-align: left;
	}

small {
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 0.8em;
	line-height: 1.5em;
	}

h1, h2, h3 {
	font-family: Georgia, Sans-Serif, Verdana ;
	font-weight: normal;
	}

h1 {
	font-size: 4em;
	text-align: left;
	padding-left:40px;
	}
	
#headerimg .description {
	font-size: 1.1em;
	padding-left:40px;	
	}
	
h2 {
	font-size: 2.2em;
	clear:both;
	}	

h2.pagetitle {
	font-size: 2.2em;
	font-style: italic;
	}	

#sidebar ul li h2 {
	font-family: Georgia, Arial, 'Lucida Grande', Verdana, Sans-Serif;
	font-size: 1.6em;
	padding: 5px 5px;
	}

h3 {
	font-size: 1.6em;
	clear:both;
	}

h1, h1 a, h1 a:hover, h1 a:visited {
	text-decoration: none;
	}	
	
#header h1, #header h1 a, #header h1 a:hover, #header h1 a:visited {
	padding-left:20px;
	font-style:italic;
	}	
	
h2, h2 a, h2 a:hover, h2 a:visited, h3, h3 a, h3 a:hover, h3 a:visited, #sidebar h2, #wp-calendar caption, cite {
	text-decoration: none;
	}	

.commentlist li, #commentform input, #commentform textarea {
	font: 0.9em Arial, 'Lucida Grande', Verdana, Sans-Serif;
	}

.commentlist li {
	font-weight: bold;
	}

.commentlist cite, .commentlist cite a {
	font-weight: bold;
	font-style: normal;
	font-size: 1.1em;
	}

.commentlist p {
	font-weight: normal;
	line-height: 1.5em;
	text-transform: none;
	}

#commentform p {
	font: 0.8em Arial, Verdana,  Sans-Serif;
	}

.commentmetadata {
	font-size: 0.9em;
	font-weight: normal;
	}
	
#sidebar {
	font: 1.2em Arial, Verdana, Sans-Serif;
	}	
	
acronym, abbr, span.caps
{
	font-size: 1.1em;
	}	
	
code {
	font: 0.9em 'Courier New', Courier, Fixed;
	padding: 10px;
	display: block;
	}
	
a {
	text-decoration: none;
	padding: 0 1px;
	}

	
h1 a, h2 a, h3 a, h1 a:hover,h2 a:hover, h3 a:hover{
	border: none;
	background: none;
}

#sidebar #wp-calendar a {
	text-decoration: none;
	margin: 0;
	padding:0;
	}
#sidebar #wp-calendar caption {
	font: bold 1.3em  Arial,'Lucida Grande', Verdana, Sans-Serif;
	text-align: left;
	margin-top: 6px;
	}	
	
#sidebar #wp-calendar #prev a, #wp-calendar #next a {
	font-size: 1em;
	}	
	
#sidebar #wp-calendar th {
	font-style: normal;
	text-transform: capitalize;
	text-align: center;
	}
	
.post hr {
	display: block; 
	border: none;
	}		
	
.narrowcolumn .postmetadata2 {
	padding: 13px 0 16px 0;
	margin-top: 15px;
}	

.entry img {
	padding: 5px;
	max-width: 100%;
	}	
	
/* Begin Structure */

#page {
	padding: 0;
	width: 100%;	
	}

#header {
	margin:0;
	padding: 0;
	width: 100%;
	}

#headerimg {
	margin: 0;
	height: 110px;
	width: 960px;
	margin: 0 auto;
	
	}
/* SimpleX search location */
#searchdiv {
	position:absolute;
	top: 30px;
	margin-left: 690px;
}

.narrowcolumn {
	padding: 30px 40px;
	margin: 0px auto;
	width: 580px;	
	}

.post {
	margin: 0 0 30px;	
	}
	
.narrowcolumn .postmetadata {
	padding:0;
	margin:0;
	padding: 20px 0 40px;
	}


.postmetadata {
	clear: both;
	font-size: 0.8em;
}

.clear {
	clear: both;
}

#footer {
	padding: 0;
	margin: 0 auto;
	width: 100%;
	clear: both;
 	overflow: hidden;
	}
	
#footerarea {
	width: 960px;
	margin: 0 auto;	
}

#footerarea span {
	margin: 0;
	padding: 30px 40px;
	font-size: 1.1em;
	}
	
#footerarea span#footerleft {
	float:left;	
}

#footerarea span#footerright {
	float:right;
}
/* End Structure */


/*	Begin Headers */
h1 {
	padding-top: 20px;
	line-height: 60px;
	padding-left:0;
	margin: 0;
	}
	

h2 {
	margin: 10px 0 2px 0;
	padding-top: 10px;
	}


#sidebar h2 {
	margin: 5px 0 0;
	padding: 0;
	}

h3 {
	padding:0;
	margin: 30px 0 0;
	}

h3#comments {
	padding: 0;
	margin: 40px auto 20px ;
	}
/* End Headers */	

/* Begin Images */


/*	Using 'class="alignright"' on an image will (who would've
	thought?!) align the image to the right. And using 'class="centered',
	will of course center the image. This is much better than using
	align="center", being much more futureproof (and valid) */

img.centered {
	margin-left: auto;
	margin-right: auto;
	}

img.alignright {
	padding: 5px;
	margin: 0 0 5px 15px;
	}

img.alignleft {
	padding: 5px;
	margin: 0 15px 5px 0;
	}

.alignright {
	float: right;
	}

.alignleft {
	float: left;
	}
/* End Images */



/* Begin Lists

	Special stylized non-IE bullets
	Do not work in Internet Explorer, which merely default to normal bullets. */

/* simpleX addition */

.entry {
	margin-top: 15px;
	padding-top: 15px;
	float: left;	
	margin-bottom: 20px;
}

.entry p {
	padding: 7px 0 7px 0;
	margin:0;
}
.entry p a.img {
	border:none;
	background:none;
}
.entry p a.img:hover {
	border:none;
	background:none;
}


/* end */

html>body .entry ul {
	margin-left: 50px;
	padding: 0px 0 0px 30px;
	padding-left: 10px;	
	}

html>body .entry li {
	margin: 0;
	}

.entry  ol, .entry ul {
	padding:0;
	margin:  5px 0 5px 50px;
	}

.entry ol li, .entry ul li {
	margin: 0;
	padding: 0;
	}	

.postmetadata ul, .postmetadata li {
	display: inline;
	list-style-type: none;
	list-style-image: none;
	}

#sidebar ul, #sidebar ul ol {
	margin: 0;
	padding: 0;	
	}

#sidebar ul li {
	list-style-type: none;
	list-style-image: none;
	margin-bottom: 15px;	
	}

#sidebar ul p, #sidebar ul select {
	margin: 0;
	}

#sidebar ul ul, #sidebar ul ol {
	margin:0px;
	}

#sidebar ul ul ul, #sidebar ul ol {
	margin:0;
	}

ol li, #sidebar ul ol li {
	list-style: decimal outside;
	}

#sidebar ul ul li, #sidebar ul ol li {
	margin: 0;
	padding:0;
	list-style:none;	
	}
	
#sidebar a {
	border: none;
	background: none;	
	display: block;
	padding: 5px 5px;
	background: url(images/meta.gif) no-repeat 5px 7px;
	padding-left: 20px;
}
#sidebar a:hover {
	background: url(images/meta.gif) no-repeat 5px 7px;
}	

* html #sidebar a {
	height: 1px;
}
	
#sidebar .archives a, #sidebar .cat-item a, #sidebar .cat-item a:hover,
#sidebar #archives ul li a {
	background: url(images/cat.gif) no-repeat 5px 7px;
	padding-left: 20px;	
}

#sidebar .cat-item a:hover, #sidebar .archives a:hover,
#sidebar #archives ul li a:hover {
	background: url(images/cat.gif) no-repeat 5px 7px;
}
#sidebar .linkcat a, #sidebar .linkcat a:hover, 
#sidebar .blogroll a {
	background: url(images/fav.gif) no-repeat 5px 7px;
	padding-left: 20px;	
}

#sidebar .linkcat a:hover,
#sidebar .blogroll a:hover {
	background: url(images/fav.gif) no-repeat 5px 7px;
}

#sidebar .textwidget {
	margin: 6px;
}

	
/* End Entry Lists */



/* Begin Form Elements */
#searchform {
	margin: 10px auto;
	padding: 5px 3px;
	text-align: center;
	}

#header #searchform #s {
	width: 130px;
	padding: 4px;
	font: 1.4em arial, verdana, sans-serif;
	}

#header #searchsubmit {
	padding: 3px;
	font: 1.4em arial, verdana, sans-serif;
	font-weight: bold;
	}
	
#content #searchform #s {
	width: 200px;
	padding: 4px;
	font: 1.1em arial, verdana, sans-serif;
	}

#content #searchsubmit {
	padding: 3px 10px;
	font: 1.1em arial, verdana, sans-serif;
	font-weight: bold;
	}	

.entry form { /* This is mainly for password protected posts, makes them look better. */
	text-align:center;
	}

select {
	width: 130px;
	}
#commentform{
	margin-bottom: 60px;
	margin-top: 20px;
}	
#commentform input {
	width: 170px;
	padding: 2px;
	margin: 5px 5px 1px 0;
	font-size: 1.2em;
	}

#commentform textarea {
	margin-top:5px;
	width: 100%;
	padding: 2px;
	font-size: 1.2em;
	}

#commentform #submit {
	margin-top: 5px;
	padding: 5px;
	font-weight: bold;
	font-size: 1.3em;
	}
	
legend {
	font-size: 1.2em;
	font-weight:bold;
	padding: 2px 10px;
}

.entry form { 
	text-align:left
}


	
/* End Form Elements */



/* Begin Comments*/


.commentlist {
	padding: 0;
	}

.commentlist li {
	margin: 15px 0 3px;
	list-style: none;
	padding: 20px;
	}
	

#commentform p {
	margin: 5px 0;
	}

.nocomments {
	text-align: center;
	margin: 0;
	padding: 0;
	}
	
/* Threaded Comments */	

ol.commentlist { list-style:none; margin:0 0 0em; padding:0; text-indent:0; }
ol.commentlist li {  margin: 15px 0 0px; list-style: none; padding: 20px;}
ol.commentlist li.alt { }
ol.commentlist li.bypostauthor {}
ol.commentlist li.byuser {}
ol.commentlist li.comment-author-admin {}
ol.commentlist li.comment { }
ol.commentlist li div.comment-author {}
ol.commentlist li div.vcard { }
ol.commentlist li div.vcard cite.fn { font-style:normal; font-size: 14px; }
ol.commentlist li div.vcard cite.fn a.url {}
ol.commentlist li div.vcard img.avatar { float: right;	padding: 2px; }
ol.commentlist li div.vcard img.avatar-32 {}
ol.commentlist li div.vcard img.photo {}
ol.commentlist li div.vcard span.says {}
ol.commentlist li div.commentmetadata {margin: 0; display: block;}
ol.commentlist li div.comment-meta {  }
ol.commentlist li p {margin: 13px 5px 13px 0; line-height:16px;}
ol.commentlist li ul { margin:0 0 0em 0em; }
ol.commentlist li div.reply { }
ol.commentlist li div.reply a { font-weight:bold; }
ol.commentlist li ul.children { list-style:none; margin:2em 0 0; text-indent:0; padding:0}
ol.commentlist li ul.children li { font-size: 12px;}
ol.commentlist li ul.children li.alt {}
ol.commentlist li ul.children li.bypostauthor {}
ol.commentlist li ul.children li.byuser {}
ol.commentlist li ul.children li.comment {margin:0;}
ol.commentlist li ul.children li.comment-author-admin {}
ol.commentlist li ul.children li.depth-2 { margin:0; }
ol.commentlist li ul.children li.depth-3 { margin:0; }
ol.commentlist li ul.children li.depth-4 { margin:0; }
ol.commentlist li ul.children li.depth-5 {}
ol.commentlist li ul.children li.odd {}
ol.commentlist li.even { background:#fff; }
ol.commentlist li.odd { background:#fcfcfc; }
ol.commentlist li.parent { }
ol.commentlist li.pingback { padding:1em; }
ol.commentlist li.thread-alt { }
ol.commentlist li.thread-even {}
ol.commentlist li.thread-odd {}
ol.commentlist .navigation {
	padding:10px 0;
	margin:10px 0;
	clear:both;
	border: none;
	}

	
	
/* End Comments */



/* Begin Sidebar */
#sidebar
{	
	width: 215px;
	float: right;
	margin: 20px 60px 20px 0;	
	}

#sidebar form {
	margin: 0;
	}
	

/* End Sidebar */



/* Begin Calendar */
#sidebar #wp-calendar {
	empty-cells: show;
	margin: 10px auto 0;
	width: 190px;
	}

#sidebar #wp-calendar #next a {
	padding-right: 10px;
	text-align: right;
	}

#sidebar #wp-calendar #prev a {
	padding-left: 10px;
	text-align: left;
	}

#sidebar #wp-calendar a {
	display: block;
	}

#sidebar #wp-calendar caption {
	text-align: right;
	width: 190px;
	padding-right: 10px;
	}

#sidebar #wp-calendar td {
	padding: 3px 0;
	text-align: center;
	}





/* Begin Various Tags & Classes */
acronym, abbr, span.caps {
	cursor: help;
	}



blockquote {	
	margin: 15px 30px 0 10px;
	padding-left: 20px;
	}

blockquote cite {
	margin: 5px 0 0;
	display: block;
	}

.center {
	text-align: center;
	}

.hidden {
	display: none;
	}


hr {
	display: none;
	}

a img {
	border: none;
	}
	
.navigation {
	margin: 50px 0;
	padding-top: 30px;
	clear:both;
	}
	
pre {
	width: 500px;
	margin-right: 250px;
	font-size: 1.1em;
}
/* End Various Tags & Classes*/



/* Captions */
.aligncenter,
div.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption {
	text-align: center;
	padding-top: 4px;
	margin: 10px;
}

.wp-caption img {
	margin: 0;
	padding: 0;
	border: 0 none;
}

.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	padding: 0 4px 5px;
	margin: 0;
}


/* End captions */

img.wp-smiley {
	border:none;
	padding: 0;
}

.entry a.more-link {
	padding: 1px 6px;
	font-size:0.8em;
	font-weight: bold;
	float:right;
	}

.navigation a {
	font-size:1em;
	padding: 5px 10px;
	font-weight: bold;
	}	

/*simpleX RSS*/

#sidebar li#rssfeeds{
	padding-left: 18px;
	margin-left: 5px;
	margin-top: 10px;
	background:url(images/rss.gif) left center no-repeat;
}
#sidebar li#rssfeeds a, #sidebar .textwidget a, #sidebar #tag_cloud a, #sidebar p a {
	background: none;
	display:inline-block;
	margin:0;
	padding:0;
}


#sidebar #tag_cloud a{
	margin:5px 5px 0 6px;
}

#sidebar #wp-calendar {
	margin:6px;
	padding:0;
}

/* Header Menu */

.clearfix:after {
    content: " ";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}


.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

/* Page Menu CSS */

#pagemenu {	
	width: 100%;
	font-size: 1.4em;
}

#pagemenu ul#page-list {
	list-style: none;
	padding: 0px 10px;	
	margin: 0 auto;
	width: 890px;	
	margin-top: 6px;
	display: block; /* ignored by IE  remove space bug on FF, Chrome */	
}

#pagemenu ul li.page_item a, #pagemenu ul li.cat-item a {
	font-weight: bold;
	padding: 0px 20px;
	text-decoration: none;	
	border: none;	
}

#pagemenu ul li.page_item a:hover, #pagemenu ul li.cat-item a:hover {
	text-decoration: none;
}

#pagemenu  #page-list {
	margin:0; padding:0;
	}
		
#pagemenu #page-list li {
		padding:0px;
		float:left;
		list-style: none;
		line-height:28px;
		display: inline;
		margin-left: 5px;
	}
	
#pagemenu #page-list li a, #page-list li ul li a{		
	    display:block		
	}	
	
#pagemenu #page-list li ul {
	position: absolute;
	width: 12em;
	left: -999em;
	border-top: none;
	margin:0;
	padding:0; 	
}
#pagemenu #page-list li:hover ul, #pagemenu #page-list li.sfhover ul {
	left: auto;	
}
#pagemenu #page-list li ul li {
	line-height:28px;	
	width:12em;
	margin:0px;
}
#pagemenu #page-list li:hover, #pagemenu #page-list li.hover {
    position: static;
}
#pagemenu #page-list li ul ul {
	margin: -29px 0 0 12em;
}
#pagemenu #page-list li:hover ul ul, #pagemenu #page-list li.sfhover ul ul {
	left: -999em;
}
#pagemenu #page-list li:hover ul, #pagemenu #page-list li li:hover ul, #pagemenu #page-list li.sfhover ul, #pagemenu #page-list li li.sfhover ul {
	left: auto;
}
#pagemenu #page-list li:hover ul ul, #pagemenu #page-list li:hover ul ul ul, #pagemenu #page-list li.sfhover ul ul, #pagemenu #page-list li.sfhover ul ul ul {
	left: -999em;
}
#pagemenu #page-list li:hover ul, #pagemenu #page-list li li:hover ul, #pagemenu #page-list li li li:hover ul, #pagemenu #page-list li.sfhover ul, #pagemenu #page-list li li.sfhover ul, #pagemenu #page-list li li li.sfhover ul {
	left: auto;
} 


/* sidebar ul li pages category */

#sidebar .page_item ul li, #sidebar .cat-item ul li{
	padding-left: 15px;
} 

#sidebar ul li div a.freedownload {
	background: url(images/downloadsimplex.gif) no-repeat;
	text-indent: -9999px;
	display: block;
	height: 70px;
	width: 200px;
	border: none;
}

#sidebar ul li div a.freedownload:hover {
	background: url(images/downloadsimplex.gif) no-repeat 0 -70px;
	position: relative;
}

/* for ad */

#sidebar ul li div div {
	font-size: 0.9em;
	line-height: 1.8em;
}
#sidebar ul li div span.red {
	font-size: 1em;
	font-weight:bold;
	color:#f00;
}