

/* Internet Explorer 6 bug fixes */

div.act{
  top: 5px;
}

#tabs a, #tabs a span, #tabs a span span {
 float:left;
 display: block;
}

#sidebar{
  margin-left: -340px;
}

.comment{
  width: 100%;
}

#sidebar{
  background: transparent url(images/side-start-ie6.png) no-repeat left top;
}

#sidebar .wrap{
  background: transparent url(images/side-bg-ie6.png) no-repeat right top;
}

a.setLiquid{
  top: 10px;
  right: 30px;
  background: transparent url(images/pagewidth-ie6.png) no-repeat left top;
}

a.setLiquid:hover{
  background: transparent url(images/pagewidth-ie6.png) no-repeat right top;
}
