/*
Theme Name: Fusion
Theme URI: http://www.digitalnature.ro/projects/fusion/
Description: Light & clean design, 2 columns with fixed or fluid layout; Wordpress theme from <a href="http://www.digitalnature.ro/">digitalnature.ro</a>
Version: 1.3
Author: digitalnature.ro
Author URI: http://www.digitalnature.ro/
Tags: light, two-columns, fixed-width, right-sidebar, white

	Fusion v1.3
	  http://www.digitalnature.ro/projects/fusion/

	Theme designed by digitalnature.ro. See the project page for more information

	The CSS, XHTML and design is released under GPL.
    http://www.opensource.org/licenses/gpl-license.php

*/



/* global prop. */
*{
  margin: 0;
  padding: 0;
}

html, body{
 height:100%;
}

body{
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans, FreeSans, Jamrul, Garuda, Kalimati;
  font-size: 0.75em;
  font-style: normal;
  color: #000;
}

body{
  background: transparent url(images/main-bg.gif) repeat-x left 200px;
  min-height:100%;
  height:auto !important; /* ie ignores it */
  height:100%; /* fix */
  position: relative;
}

a{
  color: #2d83d5;
  text-decoration: underline;
}

a:hover{
  color: #fff;
  background: #2d83d5;
  text-decoration: none;
}

img{
  border: 0;
}

pre{
  white-space: normal;
}

table{
  margin: 6px 0 12px;
  border-bottom: 3px solid #d9d9d9;
  border-left: 1px solid #d9d9d9;
}

table td, table th{
  text-align: left;
  padding: 3px 6px;
  border-top: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
}

table td{
  margin: 4px;
}


table th{
  background: #ebebeb;
  border-bottom: 2px solid #d9d9d9;
}

table tr.odd{
  background: #ebebeb;
}

table tr:hover{
  background: #d9d9d9;
}

fieldset{
  padding: 10px;
}

legend{
  padding: 2px 5px;
  font-weight: bold;
}

p{
  line-height: 150%;
  margin: 4px 0 7px;
}

small{
  font-size: 90%;
}

#main-content li{
  list-style-type: disc;
  list-style-position: inside;
  padding-left: 15px;
}

#main-content ol li{
  list-style-type: decimal;
  list-style-position: inside;
  padding-left: 15px;
}

#main-content dl {
  padding: 2px 0 8px;
}

#main-content dt {
  float: left;
  clear: left;
  width: 100px;
  text-align: right;
  font-weight: bold;
  text-decoration: underline;
}

#main-content dt:after {
    content: ": ";
}

#main-content dd {
 margin: 0 0 0 110px;
 padding: 0 0 0.5em 0;
}


h2{
  font-family: "Palatino Linotype", Georgia, "Tahoma", "Century Schoolbook L", Arial, Helvetica;
  font-size: 200%;
  font-weight: normal;
  margin: 3px 0 5px;
}

h3{
  font-family: "Palatino Linotype", Georgia, "Tahoma", "Century Schoolbook L", Arial, Helvetica;
  font-size: 150%;
  font-weight: normal;
  margin: 3px 0 5px;
}

#sidebar h2{
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans, FreeSans, Jamrul, Garuda, Kalimati;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 140%;
  margin: 16px 0 2px 0;
}

/* actual layout width: default is 960px (for 1024x768+); 100% = fluid width */
#page{
  width: 960px;
  min-width: 780px;
  margin:0 auto;
  position: relative;
}

#cssControls{
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 10px;
}


/*** HEADER AREA ***/

/* logo position */
a#logo{
  top: 80px;
  position: absolute;
}

#page-wrap1{
  background: transparent url(images/header-bg.jpg) repeat-x left top;
}

#page-wrap2{
  background: transparent url(images/header-center.jpg) no-repeat center top;
  height: 200px;
  min-height: 500px;
  width: 100%;
  display:block;
}

#header{
  height: 200px;
}


/* top navigation */
#topnav{
  color: #a2a3a6;
  padding-top: 20px;
}

#topnav a{
  font-size: 110%;
  text-transform: uppercase;
  text-decoration: none;
  color: #afb0b3;
  padding: 0 8px;
}

#topnav a:hover{
  text-decoration: none;
  background: none;
  color: #fff;
}


/* header tabs */
#tabs {
 font-size:14px;
 height:29px;
 line-height:normal;
 position: absolute;
 top: 171px;
 left: 0;
}

#tabs ul {
 list-style:none;
}

#tabs li {
 display:inline;
}

#tabs a {
 float:left;
 background:url(images/tab-left.png) no-repeat left top;
 color:#0470a0;
 padding-left:10px;
 margin-right:3px;
 text-decoration:none;
 color:#cfcfcf;
 cursor: pointer; /* IE 7 bug-fix */
}

#tabs a span{
 float:left;
 display:block;
 background:url(images/tab-right.png) no-repeat right top;
 height: 29px;
 padding-right: 10px;
}

#tabs a span span{
 display:block;
 background:none;
 height: auto;
 padding: 4px 4px 0 4px;
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
#tabs a span {float:none;}
/* End IE5-Mac hack */
#tabs a:hover span {
 color:#cfcfcf;
}

#tabs a:hover{
 background-position:0% -29px;
 color:#fff;
}
#tabs a:hover span{
 background-position:100% -29px;
 color:#fff;
}

#tabs a.active {
 background-position:0% -58px;
 color:#000;
}
#tabs a.active span {
 background-position:100% -58px;
 color:#000;
}


/*** MAIN ***/

#main-wrap{
  float: left;
  width: 100%;
}

#main{
  display: block;
}


/* for accesibility (eg. if sidebar needs removed on some pages) */
.with-sidebar{
  margin-right: 340px;  /* sidebar width + some padding */
}

#main-content{
  padding-top: 40px;
}


#main-content h1{
  font-size: 250%;
  margin: 12px 0 4px;
  font-weight: bold;
}

#main-content h3{
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans, FreeSans, Jamrul, Garuda, Kalimati;
  font-size: 150%;
  font-weight: bold;
  margin: 6px 0 2px;
}

#main-content h4{
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans, FreeSans, Jamrul, Garuda, Kalimati;
  font-size: 125%;
  font-weight: bold;
  margin: 5px 0 2px;
}

#main-content h5{
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans, FreeSans, Jamrul, Garuda, Kalimati;
  font-size: 110%;
  font-weight: normal;
  margin: 5px 0 2px;
}

/* sort news links */
#sortlinks{
  display: block;
  margin: 5px 0 20px;
}


/* secondary tabs */

.menu {
 font-size:14px;
 height:35px;
 line-height:normal;
 left: 0;
 padding-left: 12px;
 background:transparent url(images/mtab-bg.png) repeat-x left bottom;
 margin: 10px 0 20px;
}

.menu ul {
 list-style:none;
}

.menu li {
 display:inline;
}

.menu a {
 float:left;
 background:url(images/mtab-left.png) no-repeat left -35px;
 color:#0470a0;
 padding-left:6px;
 margin-right:3px;
 text-decoration:none;
 text-transform: uppercase;
 color:#8c8b8b;
 cursor: pointer; /* IE 7 bug-fix */
}

.menu a span{
 float:left;
 display:block;
 background:url(images/mtab-right.png) no-repeat right -35px;
 height: 35px;
 padding-right: 6px;
}

.menu a span span{
 display:block;
 background:none;
 height: auto;
 padding: 7px 10px 0 10px;
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
.menu a span {float:none;}
/* End IE5-Mac hack */
.menu a:hover span {
 color:#cfcfcf;
}

.menu a:hover{
 background-position:0% -70px;
 color:#fff;
}
.menu a:hover span{
 background-position:100% -70px;
 color:#fff;
}

.menu a.active {
 background-position:0% 0px;
 color:#ed2124;
}
.menu a.active span {
 background-position:100% 0px;
 color:#ed2124;
}


.story, .post{
  background: transparent url(images/div-h2.gif) repeat-x left 8px;
  padding-top:8px;
  margin-bottom: 18px;
  display: block;
  position: relative;
}

.story h2 a, .post h2 a, .story h3 a, .post h3 a{
  color: #000;
  text-decoration: none;
}

.story h2 a:hover, .post h2 a:hover, .story h3 a:hover, .post h3 a:hover{
  background: none;
  color: #ed1f24;
}


/* voting */

.story .vote{
  width: 70px;
  height: 89px;
  background: transparent url(images/vote-up.png) no-repeat left top;
  float:left;
  display: block;
  position: relative;
}

.story .vote span.votenumber{
  text-align: center;
  width: 70px;
  display: block;
  margin-top: 10px;
  position: absolute;
  top: 0;
  left: 0;
}

.story .vote a{
  color: #fff;
  text-decoration: none;
}

.story .vote span.votenumber a{
  font-size: 30px;
}

.story .vote span.votenumber a:hover{
  background: none;
  text-decoration: underline;
}


.story .vote span.subtext{
  background: transparent url(images/vote-text.png) no-repeat left top;
  text-align: center;
  width: 70px;
  height: 29px;
  position: absolute;
  top: 62px;
  left: 0;
}

/* story header */

.story .postheader, .post .postheader{
  display: block;
  margin-left: 74px;
  position: relative;
}

.story p.postcategory, .post p.postcategory{
  color: #e5e5e5;
}

.story .postinfo, .post .postinfo{
  background: transparent url(images/postinfo-bg.png) no-repeat right bottom;
}

.story .postinfo p, .post .postinfo p{
  padding: 4px 10px;
}


/* story body */

.story .postbody, .post .postbody{
  clear: left;
  margin: 10px 0 0 0;
  display: block;
}

.story p.postcontrols, .post p.postcontrols{
  color: #e5e5e5;
  float: right;
}

.story p.tags, .post .tags{
  float: left;
  display: block;
}


.story p.postcontrols a, .story p.postcategory a,
.post p.postcontrols a, .post p.postcategory a{
  padding: 0 2px;
}


a.comments, .story p.postcontrols a.comments, .post p.postcontrols a.comments{
  background-image:url(images/comments.png);
  background-repeat: no-repeat;
  background-position: 2px 2px;
  padding-left: 19px;
  color:#ed1f24;
}

a.comments:hover, .story p.postcontrols a.comments:hover, .post p.postcontrols a.comments:hover{
  background: #ed1f24;
  color: #fff;
}


a.no.comments, .post p.postcontrols a.no.comments{
  color: #2d83d5;
}

a.no.comments:hover, .post p.postcontrols a.no.comments:hover{
  background: #2d83d5;
  color: #fff;
}


/* comments */

.comment{
  background: transparent url(images/comment-div-bg.png) repeat-y 96px bottom;
}

.comment .wrap{
  background: transparent url(images/comment-div-start.png) no-repeat 96px top;
  min-height: 120px;
  position: relative;
}

.comment .avatar{
  float: left;
  width: 90px;
  padding-top:10px;
}

.comment .details{
  display: block;
  margin-left: 108px;
}

.comment .details .head{
  background: transparent url(images/postinfo-bg.png) repeat-x left bottom;
  padding: 2px 10px;
  display: block;
  color: #8f9090;
}

span.rate{
  right: 8px;
  position: absolute;
}

span.rate a.karma{
  font-family: "Arial Black", Helvetica, Sans, FreeSans, Jamrul, Garuda, Kalimati;
  font-weight: bold;
  font-size: 110%;
  text-decoration: none;
  padding: 0;
}

span.rate a.karma.negative{ color:#ed2124; }
span.rate a.karma.positive{ color:#6fb23c; }

span.rate a.karma:hover{
  background: none;
}

span.rate a.ratelink{
  padding: 4px;
  text-decoration: none;
}

span.rate a.ratelink.up{ background: transparent url(images/thumb-up.gif) no-repeat left center;      }
span.rate a.ratelink.down{ background: transparent url(images/thumb-down.gif) no-repeat left center;      }


.comment .details .text{
  background: transparent url(images/comment-bg.png) repeat-x left top;
  padding: 3px 10px;
  min-height: 40px;
}


/* sidebar */

#sidebar{
  background: transparent url(images/side-start.png) no-repeat left top;
  float: left;
  display: block;
  margin-left: -320px;   /* sidebar width! */
  width: 320px;          /* sidebar width! */
  position: relative;
  margin-top: 36px;
}

#sidebar .wrap{
  background: transparent url(images/side-bg.png) no-repeat right top;
  margin-left: 32px;
  width: 270px; /* actual size is +36px right-padding + shadows (around 320px) */
  padding: 20px 36px 0 0;
  min-height: 350px;
}

#sidebar ul, #sidebar ul, li{
  list-style-type: none;
  line-height: 150%;
}

/* sidebar menu */

#sidebar ul.nav, #sidebar ul.nav li{
  list-style-type: none;
}

#sidebar ul.nav li{
  background: transparent url(images/div-h.gif) repeat-x left bottom;
  padding: 2px 0 3px;
  margin: 0;
  display:block;
}

/* no bg on the last menu item */
#sidebar ul.nav li.last{
  background: none
}


#sidebar ul.nav ul{
  margin: 0px 0 12px;
}

#sidebar ul.nav ul ul{
  margin: 0px 0 8px; /* lower bottom-padding for 2+ level menu */
}

/* 2nd level menu */
#sidebar ul.nav li li{
  background: none;
  padding: 0;
  margin-left: 25px;
}

/* 3rd ... n levels */
#sidebar ul.nav li li li{
  margin-left: 10px;
}

#sidebar ul.nav li a{
  background: none;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 110%;
  padding: 3px 8px;
  color: #000;
  position: relative;
  cursor: pointer;
}

#sidebar ul.nav li a:hover{
  background: #f0efef url(images/side-nav-bg.png) repeat-y right top;
  color: #ed2124;
}

#sidebar ul.nav li a span{
  background: transparent url(images/b1.gif) no-repeat left 3px;
  padding-left: 17px;
  display: block;
}

#sidebar ul.nav li a:hover span{
  background-position: left -185px;
  color: #ed2124;
}

#sidebar ul.nav li li a{
  text-transform: none;
  font-size: 100%;
  padding: 0;
}

#sidebar ul.nav li li a:hover{
  background: none
}


#sidebar ul.nav li li a span{
  background: none;
  padding: 0;
}

#sidebar ul.nav li a span.rss{
  background: transparent url(images/side-nav-rss.gif) no-repeat left top;
  display: none;
  width:26px;
  position: absolute;
  height: 13px;
  right: 0;
  padding: 0 10px 0 0;
  top: 0;
  text-decoration: none;
  cursor: pointer;
  z-index: 5;
}

#sidebar ul.nav li a span.rss:hover{
  background-position: 0px -13px;
}



/* sidebar content box */

#sidebar .box{
  margin: 16px 0 2px;
}

#sidebar .box h2{
  background: transparent url(images/side-box-top.png) no-repeat left bottom;
  padding: 4px 0 4px 20px;
  color: #8d8b8b;
  margin: 20px 0 0 0;
}

#sidebar .box ul{
  background: transparent url(images/side-box-bg.png) no-repeat left bottom;
  padding: 10px 20px;
  display: block;
}

#sidebar .box caption{
  text-align: left;
  font-weight: bold;
}


/* sidebar search */

#searchtab{
  background: transparent url(images/search-bg.png) no-repeat left top;
  margin: 20px 0;
}

#searchtab .inside{
  background: transparent url(images/search-go.png) no-repeat right top;
  height: 40px;
  position: relative;
}

#searchtab input{
  border: 0;
  background: none;
  font-size: 12px;
  padding: 0px;
}

#searchtab input.searchfield, #searchtab input#s{
  position: absolute;
  top: 6px;
  left: 46px;
  color: #e5e5e5;
  padding: 0px;
}

#searchtab input.searchbutton, #searchtab input#searchsubmit{
  position: absolute;
  right: 37px;
  top: 6px;
  color: #e5e5e5;
  text-transform: uppercase;
  padding: 0px;
}

#searchtab label{
  display: none;
}


#searchtab input.searchbutton:hover{
  color: #fff;
}




/*** FOOTER ***/

#footer{
  background: transparent url(images/div-h2.gif) repeat-x left top;
  padding: 20px 0;
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

.error{
  color:#ed1f24;
}

form input{
  padding: 2px 8px;
}


/*** top right page extend ***/

a.setLiquid{
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
  width: 16px;
  height: 16px;
  background: transparent url(images/pagewidth.png) no-repeat left top;
}

a.setLiquid:hover{
  background-position: right top;
}

a.setLiquid span{
  display: none;
}


/*** WORDPRESS SPECIFIC STYLES ***/

#sidebar li.linkcat h2{
   background: transparent url(images/div-h2.gif) repeat-x left bottom;
   color: #8b8b89;
   padding-bottom: 2px;
   text-align: right;
   font-style: italic;
   font-size: 115%;
}

#sidebar li.linkcat a{
   color: #8b8b89;
   text-decoration: none;
   background: transparent url(images/b3.gif) no-repeat left center;
   padding-left: 10px;
   margin-left: 10px;
}

#sidebar li.linkcat a:hover{
   color:#ed1f24;
   text-decoration: underline;
}


/* same as .box ul*/
.box .textwidget{
  background: transparent url(images/side-box-bg.png) no-repeat left bottom;
  padding: 10px 20px;
  display: block;
}

.widget#calendar h2{
  display: none;
}

.widget#calendar{
  padding-left: 15px;
}

.widget ul#recentcomments li{
  background: transparent url(images/comments.png) no-repeat 0px 3px;
  padding-left: 18px;
  display:block;
}

.widget select#cat{
  margin-left: 10px;
  width: 100%;
}


.widget#tag_cloud a{
  line-height: 150%;
}


#tabs li.current_page_item  a {
 background-position:0% -58px;
 color:#000;
}
#tabs li.current_page_item a span {
 background-position:100% -58px;
 color:#000;
}

.post .postheader{
  display: block;
  margin-left:0;
}

.post img{
  padding: 3px;
  margin: 5px 15px 15px 15px;
  border: 1px solid #E7E8E6;
}

.post a:hover img{
  border: 1px solid #2d83d5;
}

.navigation{
  font-size: 95%;
  color: #c4c3c1;
}

.navigation .alignleft{
  float: left;
}

.navigation .alignright{
  float: right;
}

.navigation a{
  text-decoration: none;
  color: #d2d0cf;
}

.navigation a:hover{
  background: none;
  color:#ed1f24;
}

.postmetadata{
  color: #c4c3c1;
  margin: 20px 0 10px 0;
}

.postmetadata a{
  color: #929292;
}

.postmetadata a:hover{
  background: none;
  color:#ed1f24;
}

span.editlink{
  position: absolute;
  right: 10px;
  bottom: 5px;
}

span.editlink.relative{
  position: relative;
}


span.editlink a{
  display: block;
  height: 16px;
  background: transparent url(images/edit.png) no-repeat left top;
  padding-left: 17px;
  color: #000;
  text-decoration: none;
}

span.editlink a:hover{
  background-position: left bottom;
  background-color: none;
  color:#ed1f24;
}

div.act{
  position: absolute;
  top: 4px;
  line-height: 100%;
  right: 10px;
  margin: 0;
  padding: 0;
}

span.reply a, span.quote a, span.advedit a{
  display: block;
  float: left;
  color: #aeadab;
  text-decoration: none;
  padding-right: 6px;
  margin: 0;
}

span.reply a:hover, span.quote a:hover{
  color:#ed1f24;
  background: none;
}


span.advedit a{
  background: transparent url(images/edit.png) no-repeat left top;
  display: block;
  width: 16px;
  height: 16px;
}


blockquote{
  background: transparent url(images/blockquote.png) no-repeat left top;
  margin: 10px 65px 10px 10px;
  padding: 20px 20px 10px 10px;
  font-style: italic;
  color: #939494;
}

blockquote p{
  padding: 8px;
  margin: 2px;
  border: 1px dotted #939494;
}

#footer a.rss{
  background: transparent url(images/rss.png) no-repeat left top;
  padding-left: 18px;
}

#footer a.rss:hover{
  background: #2d83d5 url(images/rss.png) no-repeat left top;
}

#commentform{
  display: block;
  background: transparent url(images/div-h2.gif) repeat-x left 0px;
  padding: 6px 0 0 0;
  margin: 20px 0;
}

#commentform textarea{
  margin-bottom: 6px;
}

#header h1{
  position: absolute;
  color: #fff;
  top: 85px;
  font-size: 320%;
}

#header h1 a{
  color: #fff;
  text-decoration: none;
}

#header h1 a:hover{
  background: none;
  color: #2d83d5;

}

ol#thecomments, ol#thecomments li{
  list-style-type: none;
  padding: 0;
  margin: 0;
}


/* gravatar */
.comment .avatar{
  float: left;
  width: auto; !important;
  padding-top:6px;
  padding-left: 8px;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}