/*
Theme Name: minimalism
Theme URI: http://www.genaehr.com/minimalism/
Description: A minimized and professional designed WordPress theme by <a href="http://www.genaehr.com/">genaehr.com</a> based on the famous Kubrick.
Version: 1.0.2
Author: Christian Genaehr
Author URI: http://www.genaehr.com/
Tags: white, fixed width, two columns, widgets, minimalism

	minimalism v1.0.2
	http://www.genaehr.com/minimalism/

	This theme was designed and built by Christian Genaehr,
	whose website you will find at http://www.genaehr.com/

	The CSS, XHTML and design is released under GPL:
	http://www.opensource.org/licenses/gpl-license.php

*/



/* Begin Typography & Colors */
body {
	font-size: 62.5%; /* Resets 1em to 10px */
	font-family: Arial, Helvetica, Sans-Serif;
	background: #fff;
	color: #333;
	text-align: center;
	}

#page {
	background-color: #fff;
	text-align: left;
	}

#header {
	background: #fff;
	}

#headerimg 	{
	margin: 7px 9px 0;
	height: 175px;
	}

#content {
	font-size: 1.2em
	}

.widecolumn .entry p {
	font-size: 1.05em;
	}

.narrowcolumn .entry, .widecolumn .entry {
	line-height: 1.4em;
	}

.widecolumn {
	line-height: 1.6em;
	}

.narrowcolumn .postmetadata {
	font-size: 0.9em;
	}

.alt {
	background-color: #fff;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	}

#footer {
	background: #fff;
	border: none;
	}

small {
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 0.9em;
	line-height: 1.5em;
	}

h1, h2, h3 {
	font-family: Arial, Helvetica, Sans-Serif;
	font-weight: bold;
	}

#headerimg h1 {
	font-size: 4em;
	}

#headerimg .description {
	font-size: 1.2em;
	}

h1, h2 {
	font-size: 1.6em;
	color: #666;
	}

h2.pagetitle {
	font-size: 1.6em;
	}

#sidebar h2 {
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 1.2em;
	}

h3 {
	font-size: 1.3em;
	color: #666;
	}

h1, h1 a, h1 a:hover, h1 a:visited {
	text-decoration: none;
	color: #996;
	}

h2 a, h2 a:visited, h3, h3 a, h3 a:visited {
	color: #996;
	}

h2 a, h2 a:visited, h3, h3 a, h3 a:visited, #sidebar h2, #wp-calendar caption, cite {
	text-decoration: none;
	color: #996;
	}

#sidebar h2 {
	color: #666;
	}

h2 a:hover, h3 a:hover {
	text-decoration: none;
	color: #666;
	}

.entry p a:visited {
	color: #996;
	}

.commentlist li, #commentform input, #commentform textarea {
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 1em;
	line-height: 1.4em;
	}

.commentlist li {
	font-weight: bold;
	}

.commentlist li .avatar { 
	float: right;
	border: 1px solid #eee;
	padding: 2px;
	background: #fff;
	}

.commentlist cite, .commentlist cite a {
	font-weight: bold;
	font-style: normal;
	font-size: 1.1em;
	}

.commentlist p {
	font-weight: normal;
	line-height: 1.5em;
	text-transform: none;
	}

#commentform p {
	font-family: Arial, Helvetica, Sans-Serif;
	}

.commentmetadata {
	font-weight: normal;
	}

#sidebar {
	font: 1em 'Lucida Grande', Verdana, Arial, Sans-Serif;
	}

small, #sidebar ul ul li, #sidebar ul ol li, .nocomments, .postmetadata, blockquote, strike {
	color: #333;
	}

code {
	font: 1.1em 'Courier New', Courier, Fixed;
	}

acronym, abbr, span.caps
{
	font-size: 0.9em;
	letter-spacing: .07em;
	}

a {
	color: #996;
	text-decoration: none;
	}

a:hover {
	color: #333;
	text-decoration: underline;
	}

#wp-calendar #prev a, #wp-calendar #next a {
	font-size: 9pt;
	}

#wp-calendar a {
	text-decoration: none;
	}

#wp-calendar caption {
	font: bold 1.3em 'Lucida Grande', Verdana, Arial, Sans-Serif;
	}

#wp-calendar th {
	font-style: normal;
	text-transform: capitalize;
	}
/* End Typography & Colors */



/* Begin Structure */
body {
	margin: 0 0 20px 0;
	padding: 0;
	}

#page {
	background-color: #fff;
	margin: 20px auto;
	padding: 0;
	width: 760px;
	}

#header {
	background-color: #fff;
	margin: 0 0 0 1px;
	padding: 0;
	height: 175px;
	}

#headerimg {
	margin: 0;
	height: 175px;
	padding: 0 0 0 45px;
	}

.narrowcolumn {
	float: left;
	padding: 0 0 20px 45px;
	margin: 0px 0 0;
	width: 450px;
	}

.widecolumn {
	padding: 10px 0 20px 0;
	margin: 5px 0 0 150px;
	width: 450px;
	}

.post {
	margin: 0 0 40px;
	text-align: justify;
	}

.post hr {
	display: block;
	}

.widecolumn .post {
	margin: 0;
	}

.narrowcolumn .postmetadata {
	padding-top: 5px;
	}

.widecolumn .postmetadata {
	margin: 30px 0;
	}

.widecolumn .smallattachment {
	float: left;
	width: 128px;
	margin: 5px 5px 5px 0px;
}

.widecolumn .attachment {
	margin: 5px 0px;
}

.postmetadata {
	clear: both;
}

.clear {
	clear: both;
}

#footer {
	padding: 0 0 0 45px;
	margin: 0 auto;
	clear: both;
	}

#footer p {
	margin: 0;
	padding: 20px 0;
	}
/* End Structure */



/*	Begin Headers */
h1 {
	padding-top: 70px;
	margin: 0;
	}

h2 {
	margin: 30px 0 0;
	}

h2.pagetitle {
	margin-top: 30px;
}

#sidebar h2 {
	margin: 5px 0 0;
	padding: 0;
	}

h3 {
	padding: 0;
	margin: 30px 0 0;
	}

h3.comments {
	padding: 0;
	margin: 40px auto 20px ;
	}
/* End Headers */



/* Begin Images */
p img {
	padding: 0;
	max-width: 100%;
	}

/*	Using 'class="alignright"' on an image will (who would've
	thought?!) align the image to the right. And using 'class="centered',
	will of course center the image. This is much better than using
	align="center", being much more futureproof (and valid) */

img.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
	}

img.alignright {
	padding: 4px;
	margin: 0 0 2px 7px;
	display: inline;
	}

img.alignleft {
	padding: 4px;
	margin: 0 7px 2px 0;
	display: inline;
	}

.alignright {
	float: right;
	}

.alignleft {
	float: left
	}
/* End Images */



/* Begin Lists

	Special stylized non-IE bullets
	Do not work in Internet Explorer, which merely default to normal bullets. */

html>body .entry ul {
	margin-left: 0px;
	padding: 0 0 0 30px;
	list-style: none;
	padding-left: 10px;
	text-indent: -10px;
	line-height: 1em;
	}

html>body .entry li {
	margin: 7px 0 8px 10px;
	}

.entry ul li:before, #sidebar ul ul li:before {
	content: "\00BB \0020";
	}

.entry ol {
	padding: 0 0 0 35px;
	margin: 0;
	}

.entry ol li {
	margin: 0;
	padding: 0;
	}

.postmetadata ul, .postmetadata li {
	display: inline;
	list-style-type: none;
	list-style-image: none;
	}

#sidebar ul, #sidebar ul ol {
	margin: 0;
	padding: 0;
	}

#sidebar ul li {
	list-style-type: none;
	list-style-image: none;
	margin-bottom: 15px;
	}

#sidebar ul p, #sidebar ul select {
	margin: 5px 0 8px;
	}

#sidebar ul ul, #sidebar ul ol {
	margin: 5px 0 0 10px;
	}

#sidebar ul ul ul, #sidebar ul ol {
	margin: 0 0 0 10px;
	}

ol li, #sidebar ul ol li {
	list-style: decimal outside;
	}

#sidebar ul ul li, #sidebar ul ol li {
	margin: 3px 0 0;
	padding: 0;
	}

ul ul li {
	margin-left: 0px;
	padding-left: 10px;
	text-indent: -10px;
	}

/* End Entry Lists */



/* Begin Form Elements */
#searchform {
	margin: 10px auto;
	padding: 5px 3px;
	}

#sidebar #searchform #s {
	width: 108px;
	padding: 2px;
	}

#sidebar #searchsubmit {
	padding: 1px;
 	cursor: pointer;
	}

.entry form { /* This is mainly for password protected posts, makes them look better. */
	text-align:left;
	}

select {
	width: 130px;
	}

#commentform input {
	width: 170px;
	padding: 2px;
	margin: 5px 5px 1px 0;
	}

#commentform textarea {
	width: 100%;
	padding: 2px;
	}

#commentform #submit {
	margin: 0;
	float: right;
 	cursor: pointer;
	}

input, textarea
 {
 	border: #ddd 1px solid;
 	background-color: #ffffff;
	font-family: Arial, Helvetica, Sans-Serif;
 	font-size:1em;
 	font-weight: normal;
 }

#searchsubmit 
 {
 	cursor: pointer;
 	text-decoration:none;
 }

/* End Form Elements */




/* Begin Comments*/
.alt {
	margin: 0;
	padding: 10px;
	}

.commentlist {
	padding: 0;
	text-align: justify;
	}

.commentlist li {
	margin: 15px 0 3px;
	padding: 5px 10px 3px;
	list-style: none;
	}

.commentlist p {
	margin: 10px 5px 10px 0;
	}

#commentform p {
	margin: 5px 0;
	}

.nocomments {
	margin: 0;
	padding: 0;
	}

.commentmetadata {
	margin: 0;
	display: block;
	}
/* End Comments */



/* Begin Sidebar */
#sidebar
{
	padding: 20px 0 10px 0;
	margin-left: 545px;
	width: 190px;
	}

#sidebar form {
	margin: 0;
	}
/* End Sidebar */



/* Begin Calendar */
#wp-calendar_wrap {

	text-align: left;
	}
#wp-calendar {
	empty-cells: show;
	margin: 10px 0 0 0;
	width: 155px;
	text-align: left;
	}

#wp-calendar #next a {
	padding-right: 10px;
	text-align: right;
	}

#wp-calendar #prev a {
	padding-left: 10px;
	text-align: left;
	}

#wp-calendar a {
	display: block;
	}

#wp-calendar caption {
	width: 100%;
	text-align: left;
	}

#wp-calendar td {
	padding: 3px 0;
	}

#wp-calendar td.pad:hover { /* Doesn't work in IE */
	background-color: #fff; }
/* End Calendar */



/* Begin Various Tags & Classes */
acronym, abbr, span.caps {
	cursor: help;
	}

acronym, abbr {
	border-bottom: 1px dashed #eee;
	}

blockquote {
	font-weight:bold;
	margin: 15px 30px 0 10px;
	padding-left: 20px;
	border-left: 5px solid #eee;
	}

blockquote cite {
	margin: 5px 0 0;
	display: block;
	}

.center {
	}

.hidden {
	display: none;
	}

hr {
	display: none;
	}

a img {
	border: none;
	}

.navigation {
	display: block;
	margin-top: 10px;
	margin-bottom: 60px;
	}
/* End Various Tags & Classes*/



/* Captions */
.aligncenter,
div.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption {
	border: 1px solid #eee;
	background-color: #fff;
	padding-top: 4px;
	margin: 10px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.wp-caption img {
	margin: 0px 5px;
	padding: 0;
	border: 0 none;
}

.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	padding: 0 4px 5px;
	margin: 0;
}
/* End captions */


/* "Daisy, Daisy, give me your answer do. I'm half crazy all for the love of you.
	It won't be a stylish marriage, I can't afford a carriage.
	But you'll look sweet upon the seat of a bicycle built for two." */
