/*
PRINT STYLESHEET
*/


#header, #sidebar, #sidebar-small, #footer, #respond, #commentform {display: none;}

#content {width: 100%; margin: 0; float: none; font-size: 1.2em;}

a:link, a:visited {color: #000000; text-decoration: underline;}
