/*
Theme Name: Hybrid
Theme URI: http://themehybrid.com/themes/hybrid
Description: A WordPress theme framework.
Version: 0.3
Author: Justin Tadlock
Author URI: http://justintadlock.com
Tags: Filters, Framework, Gravatars, Hooks, SEO, Theme Options, Three Columns, Two Columns, Valid XHTML, Valid CSS, Widgets
*/

/*
* License: GNU GPL
* Copyright (c) 2008 Justin Tadlock
*/

/* Get base CSS */
@import url('library/css/base.css');

/* Get plugins CSS */
@import url('library/css/plugins.css');

/**
* Body
************************************************/
body {
	background: #242D36 url(images/background.jpg) no-repeat 0 180px;
	}

/* Body container */
#body-container {
	width: 924px;
	margin: 36px auto 18px auto;
	padding: 18px;
	}

/**
* Elements
************************************************/

/* Links */
a, a:visited  {
	color: #2f6eb9;
	text-decoration: none;
	}
a:hover, a:active {
	text-decoration: underline;
	}

/* Headers */
h1, h2, h3, h4, h5, h6 {
	font-family: Georgia, Times, "Times New Roman", serif;
	color: #444;
	}
.sticky h2, .sticky h3, .sticky h4, .sticky h5, .sticky h6 {
	color: #eee;
	}

/* Lists */
.post ul {
	list-style: none;
	margin-left: 18px;
	}
.post ul li {
	padding-left: 9px;
	background: url(images/bullet.gif) no-repeat 0 4px;
	}

/* Blockquotes */
blockquote {
	overflow: hidden;
	padding-left: 9px;
	font-style: italic;
	color: #444;
	border-left: 3px solid #CADAE7;
	}
.post blockquote {
	margin: 0 24px 0  0;
	padding: 6px 0 0 24px;
	background: url(images/quotes.gif) no-repeat 0 0;
	border: none;
	}
.sticky blockquote {
	color: #f7f7f7;
	}
blockquote blockquote {
	color: #555;
	border-left: 3px solid #CADAE7;
	}
.sticky blockquote blockquote {
	color: #eee;
	}
blockquote em {
	font-style: normal;
	}
blockquote.pullquote {
	width: 210px;
	margin-top: 6px;
	margin-bottom: 3px;
	padding: 6px 9px;
	font-size: 18px;
	text-align: center;
	color: #333;
	background: transparent;
	border-top: 3px double #ccc;
	border-bottom: 3px double #ccc;
	}
.pullquote p {
	margin: 0;
	}

/* Code */
code {
	padding: 0 3px;
	background: #eee;
	}
pre {
	overflow: auto;
	padding: 9px;
	background: url(images/pre.png) repeat 0 0;
	border: 1px solid #eee;
	}
pre code {
	padding: 0;
	background: transparent;
	}
.sticky pre {
	background: #246F93;
	}

/* Tables */
table {
	width: 100%;
	background: #5F97B1;
	border: 1px solid #eee;
	}
caption {
	font-size: .8em;
	font-style: italic;
	text-align: right;
	color: #666;
	}
td {
	padding: .3em;
	border: 1px solid #35667c;
	}
tr {
	color: #fff;
	background: #3e7690;
	}
tr.alt, tr.even {
	background: #437f9b;
	}
th {
	padding: .3em;
	color: #fff;
	background: #274958;
	border: 1px solid #35667c;
	}
td a, th a {
	font-weight: bold;
	color: #eee;
	}

/* Drop caps */
.drop-cap {
	float: left;
	line-height: 39px;
	margin-right: 3px;
	font-size: 48px;
	font-family: "Warnock Pro", "Goudy Old Style", Palatino,"Book Antiqua", Cambria, Georgia, serif; 
	color: #666;
	}
.sticky .drop-cap {
	color: #eee;
	}

/* Notes */
.note {
	padding: 6px 9px;
	background: #eee;
	border: 1px solid #ccc;
	}

/* Warnings/Alerts */
.warning, .alert {
	padding: 6px 9px;
	background: #fffbbc;
	border: 1px solid #E6DB55;
	}

/* Errors */
.error {
	padding: 6px 9px;
	background: #ffebe8;
	border: 1px solid #C00;
	}

/* Downloads */
.download {
	padding: 6px 9px;
	background: #EDF2F4;
	border: 1px solid #adbabf;
	}

/* Footnotes */
.footnotes {
	margin: 0 0 18px 24px;
	padding: 9px 0 0 0;
	font-size: .8em;
	color: #777;
	border-top: 1px solid #eee;
	}
.footnotes a.return {
	padding: 0 1px;
	}
.footnotes a.return:hover {
	color: #eee;
	background: #3C738C;
	text-decoration: none;
	}

/* Alignment */
.left, .alignleft {
	float: left;
	margin: 0 18px 0 0;
	}
.right, .alignright {
	float: right;
	margin: 0 0 0 18px;
	}
.center, .aligncenter {
	display: block;
	margin: 0 auto 18px auto;
	}
.block, .alignnone {
	display: block;
	margin: 0 0 18px 0;
	}
.clear {
	clear: both;
	}
span.pullquote {
	float: none;
	margin: 0;
	}

/**
* Images
************************************************/
img, a img {
	padding: 5px;
	}
.post img {
	max-width: 99%;
	}

img.wp-smiley {
	max-height: 12px;
	margin: 0;
	padding: 0;
	border: none;
	}

/* Captions */
.wp-caption {
	padding: 6px 1px 0 1px;
	background: #f9f9f9;
	background: #3c738c;
	text-align: center;
	}
.wp-caption .wp-caption-text {
	margin: 0;
	padding: 0 5px;
	text-align: right;
	font-size: .8em;
	color: #666;
	color: #fff;
	}
.wp-caption img {
	margin: 0 auto;
	padding: 0;
	border: 1px solid #666;
	}

/* Gallery [gallery] */
.gallery {
	display: block;
	text-align: center;
	margin-bottom: 18px !important;
	}
.gallery img {
	border: 1px solid #3c738c;
	}

/* Author avatar */
.avatar {
	float: left;
	width: 100px;
	height: 100px;
	margin-right: 18px;
	background: #3c738c;
	border: 1px solid #999;
	}

/* Thumbnail */
.thumbnail {
	float: left;
	width: 100px;
	height: 100px;
	margin-right: 18px;
	background: #3c738c;
	}

/**
* Header
************************************************/
#header {
	display: block;
	margin-bottom: 18px;
	}
#site-title {
	font-size: 2.3em !important;
	margin-bottom: 9px;
	line-height: 27px;
	}
#site-title a {
	color: #5f97b1;
	}
#site-description {
	font-size: 1.2em;
	font-style: italic;
	color: #eee;
	margin-bottom: 27px;
	}
#site-title, #site-description {
	font-family: Georgia, Times, "Times New Roman", serif;
	}

/**
* Navigation
************************************************/
#page-nav {
	float: left;
	width: 700px;
	margin: 0 10px 0 0;
	}
#page-nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	}
#page-nav li {
	margin: 0;
	padding: 0;
	display: inline;
	}
#page-nav li a {
	float: left;
	margin-right: 18px;
	padding: 6px 9px;
	color: #f9f9f9;
	background: #3c738c;
	}
#page-nav ul li.current_page_item a {
	background: #4d8ca8;
	}

/**
* Container (content/primary/secondary)
************************************************/
#container {
	float: left;
	width: 924px;
	margin: 21px 0 9px 0;
	}

#content {
	overflow: hidden;
	height: 100%;
	float: left;
	width: 594px;
	padding: 18px;
	background: #fff;
	}
.no-widgets #content, .no-default-widgets #content {
	width: 888px;
	}

/**
* Posts
************************************************/
.post {
	clear: both;
	overflow: hidden;
	height: 100%;
	margin-bottom: 18px;
	}

.single .post, .page .post {
	margin-bottom: 0;
	}
.page-template-blog .post {
	margin-bottom: 36px;
	}
.sticky {
	padding: 18px 9px 0 9px;
	color: #f7f7f7;
	background: #232C36;
	}
.sticky a {
	color: #A6C2CF !important;
	}

/* Post title */
h1 {
	margin-bottom: 18px;
	}
h1, .home .post-title, .page-template-blog .post-title {
	font-size: 27px !important;
	line-height: 27px;
	}
.post-title, .single-title {
	font-size: 1.3em;
	margin-bottom: 3px;
	}

/* Byline */
.byline {
	font-size: .85em;
	font-style: italic;
	color: #666;
	}
.archive .byline, .search .byline {
	display: none;
	}
.sticky .byline {
	color: #f7f7f7;
	}
.byline a {
	color: #232c36;
	}

/* Post meta data */
.post-meta-data {
	clear: both;
	display: block;
	font-size: .85em;
	font-style: italic;
	color: #666;
	}
.sticky .post-meta-data {
	color: #f7f7f7;
	}
.post-meta-data .categories {
	display: block;
	}
.post-meta-data .tags {
	display: block;
	}
.archive .post-meta-data, .search .post-meta-data {
	display: none;
	}
.post-meta-data .separator {
	display: none;
	}
.post-meta-data a {
	color: #232c36;
	}

/* Page links */
p.pages a {
	margin: 0 1px;
	padding: 1px 6px;
	font-style: italic;
	border: 1px solid #ddd;
	}

/* Page templates */
.author-profile {
	overflow: hidden;
	height: 100%;
	margin-bottom: 18px;
	}
.page-template-biography .author-profile {
	margin: 0;
	}
.author-profile .author-name {
	margin-bottom: 0;
	font-size: 1em;
	font-weight: bold;
	}
.post-box {
	overflow: hidden;
	margin-bottom: 18px;
	}

/* Archive templates */
.category-info, .date-info, .tag-info, .search-info {
	margin-bottom: 18px;
	}

/* Attachments (post meta data) */
.attachment object {
	width: 100%;
	height: 100%;
	min-height: 400px;
	}
.attachment object.video {
	width: 100%;
	height: 360px;
	}
.attachment object.audio {
	width: 100%;
	}
.attachment-image .post-meta-data {
	clear: left;
	}
.attachment .download {
	display: block;
	margin-bottom: 18px;
	}
.attachment-icon, .mime-type-icon {
	height: 18px;
	margin-right: 6px;
	padding: 0;
	}
.attachment-application-octet-stream .video {
	height: 400px;
	margin-bottom: 18px;
	}

/* Breadcrumb */
.breadcrumb {
	margin-bottom: 18px;
	font-size: .85em;
	color: #666;
	}

/* Navigation links */
.navigation-links {
	overflow: hidden;
	height: 100%;
	}
.next, .previous {
	max-width: 50%;
	font-size: .85em;
	}
.previous {
	float: left;
	}
.next {
	float: right;
	text-align: right;
	}
#comments-template .paged-navigation {
	text-align: center;
	font: .95em Georgia, "Times New Roman", Times;
	}
#comments-template .paged-navigation .page-numbers {
	padding: 3px 6px;
	font-style: italic !important;
	border: 1px solid #eee !important;
	}
#comments-template .paged-navigation .next, #comments-template .paged-navigation .prev {
	float: none;
	text-align: left;
	border: none !important;
	}

/**
* Widget inserts
* Primary (displayed first) and Secondary
************************************************/
#primary {
	float: right;
	width: 270px;
	}
#secondary {
	clear: right;
	float: right;
	width: 270px;
	}

/* Widgets */
.widget {
	margin: 0 0 18px 0;
	padding: 18px 15px;
	background: #fff;
	}
.page-template-widgets #content .widget {
	padding: 0;
	}
.widget-title {
	font-size: 1.2em;
	}

/* Widget lists */
.widget ul {
	list-style: none;
	margin-left: 9px;
	}
.widget ul li {
	padding-left: 9px;
	background: url(images/bullet.gif) no-repeat 0 4px;
	}
.widget li.current-cat a, .widget li.current_page_item a {
	color: #232c36;
	}
.widget li.current-cat li a, .widget li.current_page_item li a {
	color: #2f6eb9;
	}

/* Widget table (calendar) */
.widget table {
	width: 240px;
	}

/**
* Comments
************************************************/
#comments-template {
	margin-top: 18px;
	}

/* Comment headers */
#comments-number, #reply {
	font-size: 1.2em;
	}
li.author #reply {
	color: #f7f7f7;
	}

/* Comments are closed */
.comments-closed {
	color: #666;
	font-style: italic;
	}

/* Comment list */
#comments-template ol {
	list-style: none;
	margin: 0 0 18px 0;
	}
#comments li {
	overflow: hidden;
	margin-bottom: 9px;
	padding: 9px 9px 0 9px;
	color: #333;
	background: #f9f9f9;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	}
#comments li li, #comments li.author li li {
	color: #333;
	margin: 0 9px 9px 18px;
	background: #fff;
	}
#comments li.author li, #comments li li li, #comments li li.author li, #comments li.author li.author li {
	color: #333;
	background: #f9f9f9;
	}
#comments li.author, #comments li li.author, #comments li li li.author, #comments li.author li.author li.author {
	color: #f7f7f7;
	background: #232C36;
	}
#comments li.author li.author, #comments li li.author li.author, #comments li.author li li.author {
	color: #f7f7f7;
	background: #246F93;
	}
#comments li li.author, #comments li li.author li.author {
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
	}

/* Comment links */
#comments li a, #comments li.author li a, #comments li.author li.author li a {
	color: #2f6eb9;
	} 
#comments li.author a, #comments li.author li.author a, #comments li.author li.author li.author a {
	color: #A6C2CF;
	border-color: #333;
	}

/* Avatar */
#comments-template .avatar {
	width: 40px;
	height: 40px;
	float: left;
	margin-right: 18px;
	padding: 0;
	border: 1px solid #666;
	}
#comments-template li.author .avatar {
	padding: 2px;
	background: #246F93;
	}

/* Comment meta data */
#comments-template .comment-meta-data {
	margin-bottom: 18px;
	}

/* Comment text */
#comments-template .comment-text {
	clear: left;
	margin: 0 18px;
	}
.comment-text blockquote {
	margin-bottom: 18px;
	}
.comment-text blockquote p {
	display: inline;
	}
#comments-template li.author blockquote, #comments-template li.author pre {
	color: #fff;
	background: #246F93;
	border: none;
	}
#comments-template li.author code {
	background: transparent;
	}

/* Form */
.text-input {
	display: block;
	padding: 3px 6px;
	width: 300px;
	}
.page-template-quick-post .text-input {
	width: 97.5%;
	}
#comments-template label {
	font-size: .8em;
	}
textarea {
	clear: left;
	display: block;
	width: 98.5%;
	}
.button {
	width: 100px;
	margin-right: 9px;
	padding: 6px 9px;
	font: .9em Cambria, Georgia, Times, 'Times New Roman', serif;
	font-weight: bold;
	color: #eee;
	background: #242D36;
	border: none;
	}
li.author .button {
	background: #333C45;
	}
.button:hover {
	cursor: pointer;
	background: #333C45;
	}
.search-form input {
	margin-right: 9px;
	}
.allowed-tags {
	font-size: .8em;
	}

/**
* Footer
************************************************/
#footer-container {
	clear: both;
	}
#footer {
	font-style: italic;
	color: #f7f7f7;
	}
#footer a {
	font-style: normal;
	color: #5F97B1;
	}
#footer .copyright {
	display: inline;
	float: left;	
	margin-right: 9px;
	}

ul.tabs { display: none; }

/**
* Comments popup
************************************************/
.comments-popup #body-container {
	width: 540px;
	margin: 20px auto;
	padding: 20px;
	}
.comments-popup #container {
	width: 520px;
	margin: 0 auto;
	padding: 0;
	}
.comments-popup #content {
	width: 500px;
	padding: 20px;
	}