/*  
Theme Name: PrimePress
Theme URI: http://www.techtrot.com/primepress/
Description: A 2/3-column <strong>search engine optimized</strong> theme with a clean and content-centric design. Features easily customizable <strong>rotating header images</strong>, a custom stylesheet for easy personalization and <strong>optional layouts</strong>.
Author: Ravi Varma
Author URI: http://www.techtrot.com/
Version: 1.3.1
Tags: white, blue, light, three-columns, two-columns, fixed-width, custom-header, theme-options, right-sidebar, threaded-comments, sticky-post, microformats
*/
/*For your sake, try not to make any changes in here. This will be updated every time a new version of WordPress comes out. Add all your customizations to the custom.css*/
@import url('library/layout.css');

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td 
{margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';	content: none;}
/* remember to define focus styles! */
:focus {outline: 0;}
/* tables still need 'cellspacing="0"' in the markup */
table {border-collapse: collapse;	border-spacing: 0;}


body {font: 62.5%/1.3 'trebuchet ms', verdana, 'Lucida Grande', arial, sans-serif; text-align:center; background:#fff; color:#111;}

/*-----layout-----*/
#page {width:962px; margin:0 auto; text-align:left;}
	#header{width:960px; float:left; position:relative;}
	#container{width:920px; float:left; padding:0 20px; background:#fff;}
		#rotating{width:920px; float:left; padding:20px 0;}
		#primary{float:left; padding:0 18px 0 0; }
		#secondary{float:left;}
			.sidebar{float:left;}
			.sidebar-items{padding:5px 5px 0 5px;}
		#footer{width:920px; float:left; clear:both;}

/*-----header-----*/
.homelink{font-size:35px; line-height:1; font-weight:bold; letter-spacing:-0.5px; padding:40px 20px 10px 20px; font-variant:small-caps;}
.homelink a{color:#444;}
.homelink a:hover{color:#000; text-decoration:none;}
.description{color:#666; margin-top:-10px; padding:0 0 10px 21px; font-size:13px; line-height:1; font-style:italic;}
#skip a{padding:0.2em 0.3em; font-weight:bold; background:#e5e5e5; color:#444; display:block; text-decoration:none; position:absolute; top:0.5em; right:999em;}
#skip a:first-letter{text-decoration:underline;}
#skip a:hover{background:#ddd;}
	
	/*-----main-menu*/
	ul.menu{position:absolute; bottom:0; right:25px; padding:5px 10px 0;}
	ul.menu li{float:left; margin:0 0 0 5px; background:#777; font-weight:bold; font-size:11px; line-height:1;}
	ul.menu li a{display:block; color:#fff; padding:5px 10px;}
	ul.menu li a:hover{text-decoration:none; background:#888;}
	ul.menu li.current_page_item a, ul.menu li.current_page_item a:hover{color:#444; background:#ccc;}
	
/*-----Generic Styles-----*/
b, strong{font-weight:bold;}
i, em, dfn{font-style:italic;}
dfn{font-weight:bold;}
abbr, acronym{border-bottom:1px solid #ddd;}
sup, sub{font-size:0.7692em; line-height:1;} 
sup{vertical-align:super;}
sub{vertical-align:sub;}
del{text-decoration:line-through;}
u, ins{text-decoration:underline;}
pre, code, tt{font:1em/1.5385 consolas, 'Courier New', Courier, Monospace;}
pre{margin:0 0 1.5385em; padding:0.7692em 10px; border:1px solid #ddd; overflow:auto;}
hr{background:#ccc; color:#ccc; clear:both; float:none; width:100%; height:0.1em; margin:0 0 1.5385em; border:none;}
blockquote{margin:0 0 1.5385em; padding:0 0 0 40px; color:#555; background:url('images/pp-quote.gif') no-repeat;}

/*-----headings-----*/	
h1, h2, h3, h4, h5, h6{font-weight:normal; font-family:'trebuchet MS', verdana, arial, sans-serif;}	
.entry-title, .page-title{font-size:2.2em; line-height:1; margin:0.9091em 0 0;}
.page .entry-title, .page-template .entry-title{text-align:center;}
.page-title{text-align:center; margin-bottom:0.9091em;}
.sidebar h2{font-size:1.5em;}
.entry-content h1, .entry-content h2{font-size:1.5385em; line-height:1; margin:1.5em 0 0.5em;}
.entry-content h3{font-size:1.3846em; line-height:1.1111; margin:1.66665em 0 0.55555em;}
.entry-content h4{font-size:1.2308em; font-weight:bold; line-height:1.25; margin:1.875em 0 0.625em;}
.entry-content h5, .entry-content h6{font-size:1em; font-weight:bold; margin:2.30775em 0 0.76925em;}

/*-----content-----*/
.entry-content{font-family: verdana, 'Lucida Grande', arial, sans-serif; font-size:1.3em; line-height:1.5385; margin:1.5385em 0 0;}
.entry-content p{margin:0 0 1.5385em;}
.entry-content address{margin:0 0 1.5385em; font-style:italic;}
	
	/*-----post info*/
.entry-byline{color:#777; font:italic 1.1em 'trebuchet ms', sans-serif;}
.entry-byline address{display:inline;}
.entry-meta{margin:2.4999em 0 0.8333em; font:italic 1.2em/1.6666 'trebuchet ms', sans-serif; color:#555;}	
	
	/*-----lists*/
.entry-content ul, .entry-content ol{margin:0 0 1.5385em 30px;}
.entry-content li{margin-bottom:0.4615em; line-height:1.5385;}
.entry-content li ul, .entry-content li ol{margin:0.4615em 0 1.077em 30px;}
.entry-content ul{list-style-type:square;}
.entry-content li ul{list-style-type:circle;}
.entry-content ol{list-style-type:decimal;}
.entry-content ol ol{list-style-type:upper-alpha;}
.entry-content dl{margin:0 0 1.5385em;}
.entry-content dl dt{font-weight:bold;}
.entry-content dd{margin:0 0 1.5385em;}
	
	/*-----images*/
.entry-content img{max-width:100%; height:auto;}
img.alignleft, div.alignleft{margin:0 15px 3px 0; display:inline;}
img.alignright, div.alignright{margin:0 0 3px 15px; display:inline;}
.aligncenter, div.aligncenter {display:block; margin:0 auto 1.5385em;}
img.border{padding:4px; border:1px solid #ccc; background:#eee;}
.alignleft{float:left;}
.alignright{float:right;}
.center{text-align:center;}
.wp-caption {text-align:center; padding-top:4px;}
.wp-caption img {margin:0; padding:0; border:0 none;}
.wp-caption p.wp-caption-text {color:#555; padding:4px; margin:0; font:italic 0.923em/1.6666 'trebuchet ms', verdana, sans-serif;}
	
	/*-----gallery*/
.entry-content .attachment a,
.entry-content .gallery a,
.entry-content .attachment a:hover,
.entry-content .gallery a:hover {border:none;}
.attachment img, .attachment-thumbnail, .entry-content .gallery img{padding:2px; border:1px solid #ccc;}
.attachment img:hover, .attachment-thumbnail:hover, .entry-content .gallery img:hover{border:1px solid #888;}
.attachment{text-align:center;}
	
	/*-----tables*/
.entry-content table{margin:0 0 1.5385em; border-collapse:collapse; border:1px solid #ccc; color:#444;}
.entry-content th{font-weight:bold; background:#ccc;}
.entry-content th, .entry-content td{padding:0.2em 10px;}
.entry-content td{border:1px solid #ccc;}
.entry-content tfoot{background:#ddd;}

/*-----sidebars-----*/
/*Subscribe box*/
#pp-subscribe{margin-bottom:10px;}
#pp-subscribe ul {padding:5px;}
#pp-subscribe li {display:block; float:left;}
#pp-subscribe a{padding:5px 5px 5px 50px; font-weight:bold; font-size:14px; line-height:33px; display:block;}
	/*-----RSS feed*/	
	#pp-feed{background: url(images/pp-rss2.png) no-repeat 4px 4px;}
	/*-----email subscription*/
	#pp-email{background: url(images/pp-email.png) no-repeat 4px 4px;}
	
	/*-----search*/
#searchform #s, #s-input{border:1px solid #ccc; margin-bottom:5px; padding:2px; width:95%; color:#666;}
#submit, #s-submit{border:1px solid #555; background:#555; color:#ddd; cursor:pointer; font-weight:bold;}
#submit:hover, #s-submit:hover{color:#fff;}
#s-input, #submit, #s-submit{font-family: 'trebuchet ms', arial, sans-serif;}

#searchform input {border:1px solid #bbb;}
	
	/*-----widgets*/
.widget {font-size:1.2em; line-height:1.4166; margin:0 0 1.25em; padding:0.4166em 5px 0.4166em 5px;}
.widget li{margin:0.25em 0; }
.widget li li{padding:0 0 0 15px;}
.widgettitle{margin-bottom:3px; line-height:1.3; color:#555; font-weight:bold;}
#pp-recent-posts li, #recent-posts li, #recent-comments li{background: url(images/pp-bullet.gif) 0 0.53em no-repeat; padding:0 0 0 15px;}
.postform{width:100%;}
	
	/*-----calendar*/
#calendar_wrap{margin:0.4166em auto 0;}
#wp-calendar{width:94%; margin:0 auto;}
#wp-calendar caption{background:#aaa; font-size:1.0833em; font-weight:bold;}
#wp-calendar th{background:#ddd;}
#wp-calendar th, #wp-calendar td{text-align:center; padding:0.25em;}
#wp-calendar td{font-size:0.9166em; color:#777;}
#wp-calendar tfoot{background:#ddd;}
#wp-calendar a{font-weight:bold;}

/*-----navigation-----*/
.navigation{font-size:1.2em; text-align:center; padding:1.8181em 0; border-bottom:1px dashed #ddd;}
.navleft, .gnavleft{float:left; width:50%; text-align:left;}
.navright, .gnavright{float:right; width:50%; text-align:right;}
.gnavigation{padding:0 0 2em;}
.looped .navigation {border-bottom:none;}

/*-----footer-----*/
#footer{margin:0 0 0.8333em; padding:1.6666em 0; font-size:1.2em; line-height:1.6666;}
#footer .left{width:50%; float:left; text-align:left;}
#footer .right{width:50%; float:right; text-align:right;}
.clear{margin:0; padding:0; clear:both;}

/*-----comments-----*/
.commentlist{margin:0 0 2em;}
.commentlist li{margin:0 0 1em; padding:0.5em 5px;}
.comment-nav{border-bottom:none;}
	/*-----comment headings*/
.nocomments{text-align:center; padding:1.25em 0; font-size:1.6em;}
.comments-number {margin:0 auto 1.5em; padding-top:1em; font-size:2em; line-height:1;}
#respond h3{font-size:2em; line-height:1; margin:0 0 0.5em; padding-top:20px;}
	/*-----comment formatting*/
.avatar{float:left; position:relative; padding-right:7px;}
.comment-author{font-weight:bold; font-size:1.5em; line-height:1.1;}
.comment-author cite{font-style:normal;}
.comment-author .says{display:none;}
.comment-meta{font-size:1.1em; font-style:italic; color:#777;}
.comment-meta a{color:#777;}
.commentlist p {margin:1.4545em 5px 1.4545em 0; font-size:1.1em; line-height:1.5454; font-family: verdana, 'Lucida Grande', arial, sans-serif; color:#333;}
.commentlist pre{background:#fff; margin:0; border:none;}
.reply {font-size:12px; font-weight:bold;}
.commentlist .children li{margin-left:10px; margin-top:10px;}
	/*-----colors*/
.depth-1.parent{border:1px solid #dadada;}
.commentlist .children li {border-left:1px solid #dadada;}
.thread-alt{background-color:#ececec;}
.bypostauthor{background-color:#ddd;}

	/*-----comments form*/
#commentform{margin:0 0 4em 0;}
#commentform p{margin:0 0 1em 0;}
#commentform textarea,
#commentform input[type=text] {border:1px solid #ccc; padding:3px; font-family: verdana, Courier, Monospace; font-size:1.2em; color:#444;}
#commentform textarea:focus, #commentform input[type=text]:focus{color:#000; border-color:#888;}
#commentform input[type=text]{width:45%;}
#commentform textarea{width:95%;}
#commentform #submit{height:30px; padding:3px 6px;}
.comment-login{font-size:12px; margin-bottom:1.6666em;}

/*-----legacy comments*/
.comment-counter{font-size:1.3em; float:right;}


/*-----clearfix-----*/
.entry-content:after,
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;
}
.entry-content, .clearfix {display: inline-block;}
/* Hides from IE5/Mac \*/
* html .clearfix {height: 1px;}
.entry-content, .clearfix {display: block;}
/* End hide from IE5/Mac */

/*-----Borders-----*/
#rotating {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
#pp-subscribe {
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
}
#pp-sidebars {
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
#footer{
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.looped .entry,
.single .entry {
	border-bottom: 1px dashed #ddd;
}

/*-----links-----*/
a{text-decoration:none; color:#0070C5;}
a:hover{text-decoration:underline;}
.entry-content a{font-family:'trebuchet ms', verdana, sans-serif; text-decoration:underline;}
.entry-content a:hover{text-decoration:none;}
.entry-title a:hover, .entry-byline a:hover, .navigation a:hover{color:#000;}
.entry-byline a{color:#777;}
#primary.page-template .entry-content a{text-decoration:none; font-weight:normal;}
#primary.page-template .entry-content a:hover{text-decoration:underline;}
.gnavigation a:hover{border-bottom:none;}