/*
 *   Tripoli is a generic CSS standard for HTML rendering. 
 *   Copyright (C) 2007 David Hellsing
 *   
 *   http://devkick.com/lab/tripoli/
 *
 *   You should have received a copy of the GNU General Public License
 *   along with this program.  If not, see <http://www.gnu.org/licenses/>.
**/

/*
_______________________________
RESET */

*
{
	text-decoration:none;
	font-size:1em;
	outline:none;
	margin:0;
	padding:0;
}

code,kbd,samp,pre,tt,var,input,select,isindex,listing,xmp,plaintext
{
	font:inherit;
	white-space:normal;
}

textarea
{
	font:inherit;
}

a,img,a img,iframe,form,abbr,acronym,object,applet,table,a abbr,a acronym
{
	border-width:0;
}

dfn,i,cite,var,address,em
{
	font-style:normal;
}

th,b,strong,h1,h2,h3,h4,h5,h6,dt
{
	font-weight:normal;
}

caption,th,td
{
	text-align:left;
}

html
{
	background:white;
	color:black;
	line-height:1;
	font-family:arial, sans-serif;
}

/* \*/

html
{
	font-family:sans-serif;
}

/* */

q
{
	quotes:"\201C""\201D""\2018""\2019";
}

ul,ol,dir,menu
{
	list-style:none;
}

sub,sup
{
	vertical-align:baseline;
}

a
{
	color:inherit;
}

/*
_______________________________
DISABLE DEPRECATED HTML */

font,basefont
{
	color:inherit;
	font:inherit;
	font-size:100%;
}


center,*[align]
{
	text-align:inherit;
}

s,strike,u
{
	text-decoration:inherit;
}

img
{
	border:none;
	margin:0;
}

ol
{
	list-style-type:decimal;
}

body
{
	background-color:transparent;
}

tr,th,td
{
	width:auto;
	height:auto;
	background-color:transparent;
	vertical-align:inherit;
	border:none;
}

table[border],.content table[border]
{
	border-collapse:separate;
	border-spacing:0;
}

nobr
{
	white-space:normal;
}

marquee
{
	overflow:visible;
	-moz-binding:none;
}

blink
{
	text-decoration:none;
}

/*
_______________________________
GENERAL */

html
{
	font-size:125%;
}

body
{
	font-size:50%;
}

a
{
	text-decoration:underline;
}

strong,th,thead td,h1,h2,h3,h4,h5,h6,dt
{
	font-weight:bold;
}

cite,em,dfn
{
	font-style:italic;
}

code,kbd,samp,pre,tt,var,input[type='text'],input[type='password'],textarea
{
	font-size:100%;
	font-family:mono-space,monospace;
}

pre
{
	white-space:pre;
}

pre *
{
	font-size:100%;
	white-space:pre;
}

del
{
	text-decoration:line-through;
}

ins,dfn
{
	border-bottom:1px solid black;
}

small,sup,sub
{
	font-size:85%;
}

big
{
	font-size:125%;
	line-height:80%;
}

abbr,acronym
{
	text-transform:uppercase;
	font-size:85%;
	letter-spacing:.1em;
}

abbr[title],acronym[title],dfn[title]
{
	cursor:help;
	border-bottom:1px dotted black;
}

sup
{
	vertical-align:super;
}

sub
{
	vertical-align:sub;
}

blockquote
{
	padding-left:2.2em;
}

hr
{
	display:none; /* We will re-reset it later for content */
}

:lang(af),:lang(nl),:lang(pl)
{
	quotes:'\201E' '\201D' '\201A' '\2019';
}

:lang(bg),:lang(cs),:lang(de),:lang(is),:lang(lt),:lang(sk),:lang(sr),:lang(ro)
{
	quotes:'\201E' '\201C' '\201A' '\2018';
}

:lang(da),:lang(hr)
{
	quotes:'\00BB' '\00AB' '\203A' '\2039';
}

:lang(el),:lang(es),:lang(sq),:lang(tr)
{
	quotes:'\00AB' '\00BB' '\2039' '\203A';
}

:lang(en-GB)
{
	quotes:'\2018' '\2019' '\201C' '\201D';
}

:lang(fi),:lang(sv)
{
	quotes:'\201D' '\201D' '\2019' '\2019';
}

:lang(fr)
{
	quotes:'\ab\2005' '\2005\bb' '\2039\2005' '\2005\203a';
}

*[lang|='en'] q:before
{
	content:'\201C';
}

*[lang|='en'] q:after
{
	content:'\201D';
}

*[lang|='en'] q q:before
{
	content:'\2018';
}

*[lang|='en'] q q:after
{
	content:'\2019';
}

input,select,button
{
	cursor:pointer;
}

input[type='text'],input[type='password']
{
	cursor:text;
}

input[type='hidden']
{
	display:none;
}

/*
_______________________________
CONTENT */

.content
{
	font-size:1.2em;
	line-height:1.6em;
}

.content h1
{
	font-size:1.6em;
	line-height:1;
	margin:1em 0 .5em;
}

.content h2
{
	font-size:1.5em;
	line-height:1;
	margin:1.07em 0 .535em;
}

.content h3
{
	font-size:1.4em;
	line-height:1;
	margin:1.14em 0 .57em;
}

.content h4
{
	font-size:1.3em;
	line-height:1;
	margin:1.23em 0 .615em;
}

.content h5
{
	font-size:1.2em;
	line-height:1;
	margin:1.33em 0 .67em;
}

.content h6
{
	font-size:1em;
	line-height:1;
	margin:1.6em 0 .8em;
}

.content hr
{
	display:block;
	background:black;
	color:black;
	width:100%;
	height:1px;
	border:none;
}

.content ul
{
	list-style:disc outside;
}

.content ol
{
	list-style:decimal outside;
}

.content table
{
	border-collapse:collapse;
}

.content hr,.content p,.content ul,.content ol,.content dl,.content pre, .content address,.content table,.content form
{
	margin-bottom:1.6em;
}

.content p+p
{
	margin-top:-.8em;
}

.content fieldset
{
	margin:1.6em 0;
	padding:1.6em;
}

/* \*/

.content legend
{
	padding-left:.8em;
	padding-right:.8em;
}

/* */

@media all and (min-width: 0px) /* for Opera 8 */
{ 
	.content legend
	{
		margin-bottom:1.6em;
	}
	.content fieldset
	{
		margin-top:0;
	}
	.content[class^='content'] fieldset
	{
		margin-top:1.6em;
	}
}

.content fieldset>*:first-child
{
	margin-top:0;
}

.content textarea,.content input[type='text']
{
	padding:.1em .2em;
}

.content input
{
	padding:.2em .1em;
}

.content select
{
	padding:.2em .1em 0;
}

.content select[multiple]
{
	margin-bottom:.8em;
}

.content option
{
	padding:0 .4em .1em;
}

.content button
{
	padding:.3em .5em;
}

.content input[type='radio']
{
	position:relative;
	bottom:-.2em;
}

.content dt
{
	margin-top:.8em;
	margin-bottom:.4em;
}

.content ul,.content ol
{
	margin-left:2.2em;
}

.content caption,.content form div
{
	padding-bottom:.8em;
}

.content ul ul,content ol ul,.content ul ol,content ol ol
{
	margin-bottom:0;
}

/*
_______________________________
END */
