/* 
Style Name: Print
Description: Provides a clean print stylesheet for users that need to print articles.
*/

/* Get base CSS */
@import url('base.css');


body { 
	font: 11pt Cambria, Georgia, Times, 'Times New Roman', serif;
	}

#body-container {
	margin: 0 auto;
	padding: 0;
	}
/**
* Elements
************************************************/

/* Links */
a, a:visited  {
	color: #2f6eb9;
	text-decoration: none;
	}
a:hover, a:active {
	text-decoration: underline;
	}

/* Headers */
h1, h2, h3, h4, h5, h6 {
	font-family: Georgia, Times, "Times New Roman", serif;
	color: #444;
	}

/* Lists */
.post ul {
	margin-left: 27px;
	}

/* Blockquotes */
blockquote {
	overflow: hidden;
	font-style: italic;
	color: #444;
	}
blockquote em {
	font-style: normal;
	}
blockquote.pullquote {
	width: 210px;
	margin-top: 6px;
	margin-bottom: 3px;
	padding: 6px 9px;
	font-size: 18px;
	text-align: center;
	color: #333;
	background: transparent;
	border-top: 3px double #ccc;
	border-bottom: 3px double #ccc;
	}
.pullquote p {
	margin: 0;
	}

/* Code */
code {
	padding: 0 3px;
	background: #eee;
	}
pre {
	overflow: auto;
	padding: 9px;
	background: #eee;
	border: 1px solid #ddd;
	}
pre code {
	padding: 0;
	background: transparent;
	}

/* Tables */
table {
	width: 100%;
	background: #5F97B1;
	border: 1px solid #eee;
	}
caption {
	font-size: .8em;
	font-style: italic;
	text-align: right;
	color: #666;
	}
td {
	padding: .3em;
	border: 1px solid #35667c;
	}
tr {
	color: #fff;
	background: #3e7690;
	}
tr.alt, tr.even {
	background: #437f9b;
	}
th {
	padding: .3em;
	color: #fff;
	background: #274958;
	border: 1px solid #35667c;
	}
td a, th a {
	font-weight: bold;
	color: #eee;
	}

/* Drop caps */
.drop-cap {
	float: left;
	line-height: 39px;
	margin-right: 3px;
	font-size: 39px;
	font-family: "Warnock Pro", "Goudy Old Style", Palatino,"Book Antiqua", Cambria, Georgia, serif; 
	color: #666;
	}

/* Notes */
.note {
	padding: 6px 9px;
	background: #eee;
	border: 1px solid #ccc;
	}

/* Warnings/Alerts */
.warning, .alert {
	padding: 6px 9px;
	background: #fffbbc;
	border: 1px solid #E6DB55;
	}

/* Errors */
.error {
	padding: 6px 9px;
	background: #ffebe8;
	border: 1px solid #C00;
	}

/* Downloads */
.download {
	padding: 6px 9px;
	background: #EDF2F4;
	border: 1px solid #adbabf;
	}

/* Footnotes */
.footnotes {
	margin: 0 0 18px 24px;
	padding: 9px 0 0 0;
	font-size: .8em;
	color: #777;
	border-top: 1px solid #eee;
	}
.footnotes a.return {
	padding: 0 1px;
	}
.footnotes a.return:hover {
	color: #eee;
	background: #3C738C;
	text-decoration: none;
	}

/* Alignment */
.left, .alignleft {
	float: left;
	margin: 0 18px 0 0;
	}
.right, .alignright {
	float: right;
	margin: 0 0 0 18px;
	}
.center, .aligncenter {
	display: block;
	margin: 0 auto 18px auto;
	}
.block, .alignnone {
	display: block;
	margin: 0 0 18px 0;
	}
.clear {
	clear: both;
	}
span.pullquote {
	float: none;
	margin: 0;
	}

/**
* Images
************************************************/
img, a img {
	padding: 5px;
	}
.post img {
	max-width: 99%;
	}

img.wp-smiley {
	max-height: 12px;
	margin: 0;
	padding: 0;
	border: none;
	}

/* Captions */
.wp-caption {
	padding: 6px 1px 0 1px;
	background: #f9f9f9;
	background: #3c738c;
	text-align: center;
	}
.wp-caption .wp-caption-text {
	margin: 0;
	padding: 0 5px;
	text-align: right;
	font-size: .8em;
	color: #666;
	color: #fff;
	}
.wp-caption img {
	margin: 0 auto;
	padding: 0;
	border: 1px solid #666;
	}

/* Gallery [gallery] */
.gallery {
	display: block;
	text-align: center;
	margin-bottom: 18px !important;
	}
.gallery img {
	border: 1px solid #3c738c;
	}

/* Author avatar */
.avatar {
	float: left;
	width: 100px;
	height: 100px;
	margin-right: 18px;
	background: #3c738c;
	border: 1px solid #999;
	}

/* Thumbnail */
.thumbnail {
	float: left;
	width: 100px;
	height: 100px;
	margin-right: 18px;
	background: #3c738c;
	}

#container {
	margin: 0;
	padding: 0;
	}
#content {
	margin: 0 auto;
	padding: 0;
	}
a:link, a:visited {
	border-bottom: #999;
	}
.entry-title {
	margin: 0 0 5px 0;
	padding: 0;
	}
.byline {
	font-size: 10pt;
	font-style: italic;
	padding-bottom: 10px;
	}
.post-meta-data {
	font-size: 10pt;
	color: #333;
	}

#footer {
	padding-top: 9px;
	font-size: 9pt;
	color: #666;
	border-top: 1px solid #eee;
	}

/* Don't display this stuff */
#footer .credit { display: none; }
.wp-pagenavi, .navigation-links { display: none; }
.breadcrumb { display: none; }
#header { display: none; }
#navigation { display: none; }
#primary { display: none; }
#secondary { display: none; }
#sidebar { display: none; }
#comments-template { display: none; }