/* 
	Theme Name: Tubular Light WordPress Theme
	Theme URL: http://www.studiopress.com/themes/tubular
	Description: Tubular is a 2-column Widget-ready theme created for WordPress.
	Author: StudioPress
	Author URI: http://www.studiopress.com
	Version: 1.0
	Tags: two columns, fixed width, black, gray, white, green, sidebar widgets
	
	The CSS, XHTML and design is released under GPL:
	http://www.opensource.org/licenses/gpl-license.php
	
	Changelog:
		1.0 - 3/17/09	
*/

 
body {
	background: #ccc url(http://lait.victimedelaporn.com/blog/tiles/background-TPL.jpg) repeat;
	color: #999;
	font-size: 12px;
	font-family: Verdana, Arial, Tahoma;
	margin: 0px auto 0px;
	padding: 0px;
	}
	
#wrap {background:  url(images/bgwrap.png);
	width: 1000px;
	color: #333333;
	margin: 0px auto 0px;
	padding: 0px;
	}

	
/************************************************
*	Hyperlinks									*
************************************************/

a, a:visited {
	color: #000;
	text-decoration: none;
	}
	
a:hover {color: #666;
	text-decoration: none;
	}
	
a img {
	border: none;
	}
	
a:focus, a:hover, a:active {
	outline: none;
	}
	
/************************************************
*	Header  									*
************************************************/

#header {
        background: #000000;
	width: 980px;
	height: 200px;
        margin-top: 0px;
        margin-bottom: 20px;
        margin-left:10px;
        padding:0px;
	font-size: 16px;
	color: #222222;
border-top: 4px solid #c2deea;
	}

.headertop {
	width: 728px;
        height:90px;
        background-color:transparent;
	margin: 20px auto 10px;
	padding: 0px;
        border: 0px solid #BBBBBB;
        }

	
.headerleft { background: url() center no-repeat;
	width: 210px;
        height: 160px;
	float: left;
	margin-top: 0px;
        margin-left: 15px;
	padding: 0px;
border: 0px #ccc solid;
	}
	
.headerleft h1 {
	font-family: Arial, Tahoma, Verdana;
	font-size: 30px;
	color: #333333;
	font-weight: normal;
	text-decoration: none;
	margin: 0px;
	padding: 20px 0px 0px 0px;

	}
	
.headerleft h1 a {
	font-family: Arial, Tahoma, Verdana;
	font-size: 30px;
	color: #333333;
	font-weight: normal;
	text-decoration: none;
	margin: 0px;
	padding: 0px;

	}

.headerleft h1 a:hover {
	color: #333333;
	}
	
.headerleft p {
	color: #333333;
	margin: 0px;
	padding: 0px;
	}
	
.headerright {
	width: 728px;
	float: right;
	margin-top: 15px;
	padding: 10px 15px 0px 0px;
	text-align: left;
	}
	
.headerright a img {
	border: none;
	margin: 0px 3px 3px 0px;
	padding: 0px;
	}

.headerright a, .headerright a:visited {
	color: #333333;
	font-family: Verdana, Arial, Tahoma;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	}
	
.headerright a:hover {
	text-decoration: underline;
	}
	
.headerright p {
	margin: 0px;
	padding: 0px 0px 5px 0px;
	}
	
/************************************************
*	Navbar  									*
************************************************/
	
#navbar {
	width: 980px;
        height: 39px;
        background: transparent url(images/bgnavbar.jpg) repeat;
	font-size: 12px;
	font-family: Helvetica, Arial, Tahoma, Verdana;
	color: #000;
	font-weight: bold;
        text-transform: uppercase;
	margin-top: 5px;
	padding: 0px;
	}
	
#nav {  margin: 0px;
	padding: 0px;
	}
	
#nav ul {
	float: left;
	list-style: none;
	margin: 0px;
	padding: 0px;
	}
	
#nav li {
	float: left;
	list-style: none;
	margin: 0px;
	padding: 0px;
	}
	
#nav li a, #nav li a:link {
	background: transparent;
	color: #999;
	display: block;
	font-weight: bold;
        margin: 0px 0px 0px 0px;
	padding: 12px 0px 12px 34px;
	text-decoration: none;
        border: 0px solid #BBBBBB;
	}

#nav li a:hover, #nav li a:active {
	background: transparent;
	color: #000;
	}
	
#nav li li a, #nav li li a:link, #nav li li a:visited {
	background: transparent;
	width: 170px;
	color: #999;
	float: none;
	margin: 0px;
	padding: 7px 15px 7px 15px;
	border-bottom: 1px solid #CCCCCC;
	border-left: 0px solid #CCCCCC;
	border-right: 0px solid #CCCCCC;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-khtml-border-radius: 0px;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	}
	
#nav li li a:hover, #nav li li a:active {
	background: #ccc;
	color: #000;
	padding: 7px 15px 7px 15px;
	}

#nav li ul {
	z-index: 9999;
	position: absolute;
	left: -999em;
	height: auto;
	width: 190px;
	margin: 0px;
	padding: 0px;
	}

#nav li li { 
	}

#nav li ul a { 
	width: 160px;
	}

#nav li ul a:hover, #nav li ul a:active { 
	}

#nav li ul ul {
	margin: -30px 0 0 191px;
	}

#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li.sfhover ul ul, #nav li.sfhover ul ul ul {
	left: -999em;
	}

#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li.sfhover ul, #nav li li.sfhover ul, #nav li li li.sfhover ul {
	left: auto;
	}

#nav li:hover, #nav li.sfhover { 
	position: static;
	}
	
#nav .current_page_item a {
	background: transparent;
	color: #000;
	}

.navbarright {
	width: 300px;
	float: right;
	margin-top: 7px;
	padding: 0px 0px 4px 0px;
	}
	
/************************************************
*	SubNavbar      								*
************************************************/

#subnavbar {
	width: 961px;
        background: #FFFFFF url(images/bgsubnavbar.png);
        font-size: 12px;
	height: 35px;
	color: #FFFFFF;
text-transform: uppercase;
	margin: 0px auto 0px;
	padding: 0px;
        -moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #BBBBBB;
	}
	
#subnav {
	margin: 0px;
	padding: 0px;
	}
	
#subnav ul {
	float: left;
	list-style: none;
	margin: 0px;
	padding: 0px;
	}
	
#subnav li {
	float: left;
	list-style: none;
	margin: 0px;
	padding: 0px;
	}
	
#subnav li a, #subnav li a:link, #subnav li a:visited {
	background: url(images/subnav.png) no-repeat left top;
	color: #666666;
	display: block;
        margin: 0px;
	padding: 9px 15px 9px 15px;
	text-decoration: none;
	}

#subnav li a:hover, #subnav li a:active {
	color: #000000;
	display: block;
        margin: 0px;
	padding: 9px 15px 9px 15px;
	}
	
#subnav li li a, #subnav li li a:link, #subnav li li a:visited {
	background: #003366;
	width: 170px;
	color: #ccc;
	float: none;
	margin: 0px;
	padding: 7px 10px 7px 10px;
	border-bottom: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-khtml-border-radius: 0px;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	}
	
#subnav li li a:hover, #subnav li li a:active {
	background: #ccc;
	color: #000;
	padding: 7px 10px 7px 10px;	
	}
	
#subnav li ul {
	z-index: 9999;
	position: absolute;
	left: -999em;
	height: auto;
	width: 160px;
	margin: 0px;
	padding: 0px;
	}

#subnav li li { 
	}

#subnav li ul a { 
	width: 160px;
	}

#subnav li ul a:hover, #subnav li ul a:active { 
	}

#subnav li ul ul {
	margin: -30px 0 0 191px;
	}

#subnav li:hover ul ul, #subnav li:hover ul ul ul, #subnav li.sfhover1 ul ul, #subnav li.sfhover1 ul ul ul {
	left: -999em;
	}

#subnav li:hover ul, #subnav li li:hover ul, #subnav li li li:hover ul, #subnav li.sfhover1 ul, #subnav li li.sfhover1 ul, #subnav li li li.sfhover1 ul {
	left: auto;
	}

#subnav li:hover, #subnav li.sfhover { 
	position: static;
	}

/************************************************
*	Homepage et videos				     		    * 
************************************************/

#homepage {
	float: left;
        background: #fff;
	width: 640px;
	margin-left: 20px;
	padding: 0px;
	display: inline;
        -moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
        border:2px #fff solid;
	}
	
#homepage h1 {
	color: #999;
width:520px;
	background: none;
	font-size: 18px;
	font-family: Arial, Tahoma, Verdana;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0px;
	padding: 0px;


	}
	
#homepage h1 a, #homepage h1 a:visited {
	color: #999;
	background: none;
	font-size: 18px;
	font-family: Arial, Tahoma, Verdana;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0px;
	padding: 0px;
	}
	
#homepage h1 a:hover {
	color: #000;
	text-decoration: none;
	}
	
#homepage h3 {
	background: #F7F7F7;
	color: #333333;
	font-size: 14px;
	font-family: Verdana, Arial, Tahoma;
	font-weight: normal;
	text-transform: uppercase;
	margin: 0px;
	padding: 5px 10px 5px 20px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-left-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	border-bottom: 0px solid #BBBBBB;
	}
	
#homepage p {
	color: #333;
	font-family: Verdana, Arial, Tahoma;
	
	padding: 0px;
	margin-top: 0px;
	}
	
.date {font-size: 10px;
	font-weight: bold;
	}

.date a, .date a:visited{
       color: #999;
	}

.date a:hover{
       color: #333;
	}
	
#featuredvideo {
	float: left;
	width: 640px;
	margin: 0px;
        margin-left:0px;
	padding: 0px;
	display: inline;
	}
	
#featuredvideo embed, #featuredvideo object {
	width: 600px; 
	height: 348px;
	margin: 0px; 
	padding: 0px;
	}
	
.videoborder {
	border: 0px solid #BBBBBB;
	
	}

.videoleft {
	float: left;
        width: 480px;
	margin: 0px;
	padding: 10px 0px 15px 0px;
	}
.videoleftbottom {
	float: left;
	margin: 0px;
	padding: 10px 0px 0px 0px;
	}
	
.videoright {
	float: right;
	margin: 0px;
	padding: 10px 0px 15px 0px;
	}

.videorightpostarea {
	float: right;
	margin: 0px;
	padding: 0px;
	}

.commentright {
	float: right;
	margin: 0px;
        margin-left: 50px;
        margin-top:0px;
	padding: 0px 20px 0px 0px;
	}
	
#hpbottom {
	float: left;
	width: 640px;
	margin: 0px;
        margin-left:0px;
	padding: 0px;
	display: inline;
	}
	
#hpbottom embed, #hpbottom object {
	width: 200px; 
	height: 110px;
	margin: 0px; 
	padding: 0px;
        border: 0px solid #BBBBBB;
	}
	
.videos {
	background: #FFFFFF;
	margin: 0px 0px 15px 0px;
	padding: 15px 15px 15px 15px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-top: 0px solid #BBBBBB;
	}
	
.videosleft {
	width: 200px;
	float: left;
	margin: 0px;
margin-right:10px;
	padding: 0px;
border: 0px solid #BBBBBB;
	}
	
.videosright {
	width: 390px;
	float: right;
	margin: 0px;
	padding: 0px;
	}

.videosrightbox {
	width: 380px;
	float: right;
	margin: 0px;
	padding: 4px 0px 0px 0px;
	}

.videosrighttitle {
	width: 300px;
	float: left;
	margin: 0px;
        margin-left:10px;
	padding-right: 15px;
	}

#videosrighttitle {
	width: 300px;
	float: left;
	margin: 0px;
        margin-left:10px;
	padding-right: 15px;
	}


#videosrighttitle h1{
	width: 280px;
margin-left:0px;
	padding-right: 15px;
	}

.videosrightmini {
	width: 60px;
	float: right;
	margin: 0px;
	padding: 0px;
	}
	
.videos embed, .videos object {
	width: 600px; 
	height: 300px;
	margin: 0px; 
	padding: 0px;

	}

	
/************************************************
*	Content 					     		    * 
************************************************/

#content {
	width: 960px;
	color: #333;
	margin: 0px auto 0px;
	padding: 0px;
	display: inline;
	line-height: 20px;
	}
	


#contentleft {
	float: left;
	width: 640px;
        margin:0px;
	margin-left: 0px;
	padding: 0px;
	display: inline;
	}
	
#contentfull {
	float: left;
	width: 960px;
	margin: 0px;
	padding: 0px;
	display: inline;
	}

#contentleft h1, #contentfull h1 {
	color: #999;
	background: none;
	font-size: 20px;
	font-family: Arial, Tahoma, Verdana;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0px;
	padding: 5px 0px 5px 0px;
	}
	
#contentleft h1 a, #contentleft h1 a:visited {
	color: #999;
	background: none;
        text-decoration:none;
	font-size: 20px;
	font-family: Arial, Tahoma, Verdana;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0px;
	padding-top: 5px;

	}

#content h1 {	
border-bottom: #999 dotted 2px;
	}

#contentleft h1 a:hover {
	color:  #000;
	text-decoration: none;
	}

#contentleft h3 {
	background: #F7F7F7;
	color: #333333;
	font-size: 14px;
	font-family: Verdana, Arial, Tahoma;
	font-weight: normal;
	text-transform: uppercase;
	margin: 0px;
	padding: 5px 10px 5px 20px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-left-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	border-bottom: 0px solid #BBBBBB;
	}
	
#contentleft h3 a, #contentleft h3 a:visited {
	color: #333333;
	font-size: 14px;
	font-family: Verdana, Arial, Tahoma;
	font-weight: normal;
	text-transform: uppercase;
	margin: 0px;
	padding: 0px;
	}

#contentleft h3 a:hover, #contentwide h3 a:hover {
	color: #0052a3;
	text-decoration: none;
	}

#contentleft h4 {
	color: #333333;
	font-size: 14px;
	font-family: Arial, Tahoma, Verdana;
	font-weight: bold;
	margin: 0px;
	padding: 5px 0px 5px 0px;
	}
	
 
	
#content img.wp-smiley {
	float: none;
	border: none;
	padding: 0px;
	margin: 0px;
	}

#content img {
	margin: 0px;
	}


#content img.wp-wink {
	float: none;
	border: none;
	padding: 0px;
	margin: 0px;
	}
	
#contentleft embed, #contentleft object {
width:600px;
	margin: 15px 0px 15px 0px; 
	padding: 0px;
	
	}

#contentleft img {
	margin: 10px 0px 10px 0px;
	}



.postarea {
	background: #FFFFFF;
	margin: 0px 0px 10px 0px;
	padding: 0px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 0px solid #BBBBBB;
	}
	
.postarea ul {
	list-style-type: square;
	margin: 0px;
	padding: 0px 0px 15px 0px;
	}
	
.postarea ul li {
	list-style-type: square;
	margin: 0px 0px 0px 20px;
	padding: 0px;
	}
	
.postarea ul ul {
	list-style-type: square;
	margin: 0px;
	padding: 0px 0px 0px 0px;
	}
	
.postarea ol {
	margin: 0px;
	padding: 0px 0px 15px 0px;
	}
	
.postarea ol li {
	margin: 0px 0px 0px 20px;
	padding: 0px;
	}
	
.postarea p {
	margin-top: 0px;
	padding: 0px 0px 10px 0px;
	}
	
.entry {background: #fff;
	margin: 0px;
	padding: 15px 20px 5px 20px;
	}

.entry a, .entry a:visited {
	color: #006699; text-decoration: none;
	}

.entry a:hover {
	color: #333; 
	}


.pagevideos {
	background: #FFFFFF;
	margin: 0px 0px 15px 0px;
	padding: 10px 0px 0px 0px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 0px solid #BBBBBB;
	}
	
.entryfeatured {
	margin: 0px;
	padding: 5px 20px 0px 20px;
	}

	
blockquote {
	background: #F7F7F7;
	margin: 0px 25px 15px 25px;
	padding: 10px 20px 10px 20px;
	border: 1px solid #CCC;
	}
	
#content blockquote p {
	margin: 0px;
	padding: 0px;
	}
	
.postdate {
	color: #333333;
	font-family: Verdana, Arial, Tahoma;
        font-size: 10px;
	font-weight: bold;
	text-decoration: none;
	margin: 5px 0px 15px 0px;
	padding: 0px;
	}

.postdate a, .postdate a:visited{
	color: #999;
	}

.postdate a:hover{
	color: #333;
	}

.leavecomment {
        font-size: 11px;
	font-weight: bold;
	
	}
	
.postdate p {
font-size: 10px;
	margin: 0px;
	padding: 0px;
	}

.postdate a {
text-decoration:none;
	}
	

.postmeta {
	background: #fff;
	color: #333333;
	font-family: Verdana, Arial, Tahoma;
        font-size: 10px;
	font-weight: bold;
	padding: 0px 0px 5px 20px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-top: 0px solid #BBBBBB;
	}
	
.postmeta p {
	margin: 0px;
	padding: 0px;
	}

.nextpage {
	background: #ffffff;
	margin: 0px 0px 15px 10px;
	padding: 5px 10px 3px 10px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-top: 0px solid #BBBBBB;
	}

.nextpage a, .nextpage a:visited {
	color: #999;
	}

.nextpage a:hover {
	color: #333;
	}
	
.nextpage p {
	margin: 0px;
	padding: 0px;
	}
	
.archive {
	float: left;
	width: 280px;
	margin: 0px;
	padding: 0px 20px 20px 0px;
	}

.archive a {
text-decoration:none;}

.commentLink {
	float:right;
        text-align:center;
        font-weight:bold;
	background:#eee;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	padding:5px 10px;
}



.commentLink  a.commentBubble {
	background: url(images/comment.png) center left no-repeat;
        font-weight:bold;
	padding-left: 20px;
}

a.commentLink:visited{
	color: #333333;
	text-decoration: none;
	}

	
/************************************************
*	Images  					     		    * 
************************************************/

img.centered  {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
        margin-top: 10px;
	padding:0px;
	}
	
img.alignnone {
	padding:0px;
	margin: 10px 0px 10px 0px;
	display: inline;
	}

img.alignright {
	padding:0px;
	margin: 10px 0px 10px 10px;
	display: inline;
	}

img.alignleft {
	padding:0px;
	margin: 10px 10px 10px 0px;
	display: inline;
	}

img.aligncenter {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
        margin-top:10px;
padding:0px;
	display: block;
	}
	


.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
        margin-top:10px;
padding:0px;
	}

.alignright {
	float: right;
	margin: 10px 0px 10px 10px;
padding:0px;
	}

.alignleft {
	float: left;
	margin: 10px 10px 10px 0px;
padding:0px;
	}

.alignnone {
display: block;
margin: 10px 0px 10px 0px;
padding:0px;
	
	}
	
.wp-caption {
	border: 1px solid #CCCCCC;
	text-align: center;
	background-color: #F7F7F7;
	padding: 4px 0px 5px 0px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	}

.wp-caption img {
	margin: 0px 0px 5px 0px;
	padding: 0px;
	border: 0px;
	}

.wp-caption p.wp-caption-text {
	margin: 0px;
	padding: 0px 0px 0px 0px;
	font-size: 11px;
	font-weight: normal;
	line-height: 12px;
	}
	
/************************************************
*	Sidebar 		        	    	        * 
************************************************/

#sidebar {
	float: right;
	width: 300px;
	margin-right: 23px;
	padding: 0px;
	display: inline;
	}
	
#sidebar h2 {
	background: transparent;
	color: #000;
	font-size: 11px;
	font-family: Verdana, Arial, Tahoma;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0px;
	padding: 5px 10px 0px 10px;
	
	}

#social {
	background: transparent;
        width: 300px;
        height: 55px;
	color: #000;
	font-size: 11px;
	font-family: Verdana, Arial, Tahoma;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0px 0px 40px 0px;
	padding: 5px 20px 0px 0px;
	
	}

#social2{
	background: #666;
        width: 300px;
        height: 30px;
	color: #ccc;
	font-size: 11px;
	font-family: Verdana, Arial, Tahoma;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0px 0px 30px 0px;
	padding: 0px 0px 0px 0px;
	
	}

#minisocial{
        float: left;
	font-size: 10px;
	font-family: Verdana, Arial, Tahoma;
	font-weight: normal;
	text-transform: uppercase;
        text-align: center;
	margin: 0px;
	padding: 0px 0px 5px 0px;
	}


#sidebar h2 a, #sidebar h2 a:visited {
	color: #fff;
        font-size: 10px;
	font-weight: normal;
        padding: 6px 0px 6px 0px;
}

#sidebar h2 a:hover {
	color: #ccc;
	}
	
#sidebar .widget  {
	background: transparent;
	margin: 0px 0px 10px 0px;
	padding: 0px 0px 10px 0px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 0px solid #BBBBBB;
	}

#sidebar .widgetweb  {
	background: transparent;
	margin: 0px 0px 10px 0px;
	padding: 0px 0px 10px 0px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 0px solid #BBBBBB;
	}

.newsletter  {
	text-align: center;
	}

.widgetweb img {
	padding: 5px 3px 0px 3px;
}

#sidebar .widgetpub  {
	background: transparent;
	margin: 0px;
	padding: 0px;
	border: 0px solid #BBBBBB;
	}

#widgetpub  {
	background: transparent;
	margin:0px;
	padding-top: 10px;
	border: 0px solid #BBBBBB;
	}

#sidebarpub {
	width: 300px;
        background: transparent;
	margin: 0px 0px 15px 0px;
	padding: 0px 0px 0px 0px;
        border: 0px solid #BBBBBB;
	}

#sidebarpub300 {
	width: 300px;
        background: transparent;
	margin: 0px 0px 15px 0px;
	padding: 0px 0px 0px 0px;
        border: 0px solid #BBBBBB;
	}

#sidebarpub125 {
	width: 300px;
        background: transparent;
	margin: 0px 0px 15px 0px;
	padding: 0px 0px 0px 0px;
        border:0px solid #BBBBBB;
	}
	
#sidebar ul {
	list-style: none;
	margin: 0px;
	padding: 0px 0px 5px 0px;
	}

#sidebar ul li {
	margin: 0px 5px 0px 5px;
	padding: 0px;
	}
	
#sidebar ul li li {
	background: transparent url(images/arrow3.png) no-repeat top left;
	padding: 0px 0px 0px 17px;
	margin: 5px 0px 0px 5px;
	}
	
#sidebar ul li li a, #sidebar ul li li a:visited {
	color: #000;
	text-decoration: none;
	font-size: 12px;
	margin: 0px;
	padding: 0px;
	}

#sidebar ul li ul li a:hover {
	color: #999;
	text-decoration: none;
	}

#sidebar ul li li .widget_FacebookConnector{
	padding-left: 18px;
	}

	
.textwidget {
	margin: 0px;
	padding: 0px 10px 0px 10px;
	}	
	
/************************************************
*	Footer  									*
************************************************/



#footer {
	width: 980px;
	background: #000;
	font-size: 11px;
        margin: 0px auto 0px;
	padding: 0px;
        padding-bottom:10px;
	border: 0px solid #BBBBBB;
	}
	
#footer a, #footer a:visited {
	color: #ccc;
	font-family: Verdana, Arial, Tahoma;
	font-weight: normal;
	}
	
#footer a:hover {
	text-decoration: underline;
	}
	
#footer p {
	color: #ccc;
	font-family: Sans-serif, Verdana, Arial, Tahoma;
	font-weight: normal;
        text-transform: uppercase;
        text-align:center;
	margin: 0px;
	padding: 8px;
	}

.headerbottom {
	width: 728px;
        background-color:transparent;
	margin: auto;
        margin-top: 15px;
        margin-bottom: 15px;
	padding: 0px;
        border: 0px solid #BBBBBB;
}


#footerbox33 {
	width: 980px;
	height: 360px;
        color: #fff;
	background: #000000 url();
	font-size: 12px;
	margin: 15px 0px 0px 10px;
	padding: 0px;
	-moz-border-radius: 0px;
	-khtml-border-radius: 0px;
	-webkit-border-radius: 0px;
	border: 0px solid #BBBBBB;
	}

#minibox33 {
        float:left;
  	width: 220px;
        height: 260px;
        color:#999;
	margin: 0px 10px 20px 0px;
	padding: 0px;
	}

#minibox33 img {
	margin: 35px 0px 5px 22px;
         }

#minibox33 li {
	margin: 10px 0px 0px 0px;
        }

#minibox33 p {
	margin: 10px 0px 0px 40px;
        color: #fff;
        font-family: Verdana, Arial, Tahoma;
        font-size: 10px;
	font-weight: bold;
        text-transform: uppercase;
}

#footerbox33 a,  #footerbox33 a:visited{
	color: #ccc;
	}

#minibox33 .minibox33webtv a,  #minibox33 .minibox33webtv a:visited{
	color: #ccc;
	}

#footerbox33 a:hover{
	color: #fff;
text-decoration: none;
	}

#logo33 {
	width: 130px;
	height: 87px;
	background: transparent url(images/logo33.png) no-repeat;
	}

.filet33 {
	margin: 10px;
	padding: 0px;
	border-top: 1px solid #000;
	}
	
.filet33 p {
	margin: 15px 0px 15px 0px;
	padding: 2px;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
	}

/************************************************
*	Search Form									*
************************************************/

#cat {
	background: #F7F7F7;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	width: 278px;
	color: #333333;
	font-size: 14px;
	margin: 10px 0px 5px 10px;
	padding: 3px;
	display: inline;
	border: 1px solid #CCCCCC;
	}
	
#searchdiv {
	margin: 0px;
	padding: 0px;
	}
	
#searchform {
	margin: 0px;
	padding: 0px;
	}
	
#searchbox {
	background: #f7f7f7 !important;
	width: 245px;
	color: #666666;
	font-size: 11px;
        text-align: left;
	font-family: Verdana, Arial, Tahoma;
	padding: 3px;
	margin: 0px 3px 0px 0px;
	border: 1px solid #cccccc;

	}
	
#searchbutton {
	background: #000;
        color: #fff;
	font-size: 11px;
	font-family: Verdana, Arial, Tahoma;
	padding: 3px;
	margin: 0px;
	border: 1px solid #CCCCCC;
	}
	
#author, #email, #url {
	background: #F7F7F7 !important;
	color: #333333;
	font-size: 12px;
	font-family: Verdana, Arial, Tahoma;
	margin: 0px;
	padding: 4px;
	border: 1px solid #CCCCCC;
	}
	
#comment {
	background: #F7F7F7 !important;
	color: #333333;
	font-size: 12px;
	font-family: Verdana, Arial, Tahoma;
	padding: 4px;
	margin: 0px 0px 5px 0px;
	border: 0px solid #CCCCCC;
	}
	
#submit {
	background: #F7F7F7;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	color: #333333;
	font-family: Verdana, Arial, Tahoma;
	letter-spacing: 2px;
	padding: 2px;
	margin: 0px;
        margin-right: 20px !important;
	border: 1px solid #CCCCCC;
	}
	
/************************************************
*	Comments									*
************************************************/

.commentsarea {
	background: #FFFFFF;
	margin: 0px 0px 15px 0px;
	padding: 0px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 0px solid #BBBBBB;
	}
	
.commentsstuff {
	margin: 0px;
	padding: 20px;
	}	
	
.commentlist li ul li {
	font-size: 12px;
	}

.commentlist li {
	font-weight: bold;
	}

.commentlist li .avatar { 
	background: #CCCCCC;
	float: right;
	border: 1px solid #BBBBBB;
	margin: 0px 20px 0px 10px;
	padding: 2px;
	}

.commentlist cite, .commentlist cite a {
	font-weight: bold;
	font-style: normal;
	font-size: 12px;
	}

.commentlist p {
	font-weight: normal;
	text-transform: none;
	}

.commentmetadata {
	font-weight: normal;
	}

#commentform input {
	width: 250px;
	padding: 2px;
	margin: 5px 5px 1px 0px;
	}

#commentform {
	margin: 5px 10px 0px 0px;
	}
	
#commentform textarea {
	width: 100%;
	padding: 2px;
	}
	
#respond {
	margin: 0px;
	padding: 0px;
	}	

#respond:after {
	content: "."; 
	display: block; 
	height: 0px; 
	clear: both; 
	visibility: hidden;
	}
	
#commentform p {
	margin: 5px 0px 5px 0px;
	}
	
#commentform #submit {
	margin: 0px;
	float: left;
	}
	
.commententry {
	margin: 0px;
	padding: 0px;
	}
	
.alt {
	margin: 0px;
	padding: 10px;
	}

.commentlist {
	margin: 0px;
	padding: 0px;
	}
	
.commentlist ol {
	margin: 0px;
	padding: 10px;
	}

.commentlist li {
	margin: 15px 0px 10px 0px;
	padding: 10px 5px 10px 10px;
	list-style: none;

	}
.commentlist li ul li { 
	margin-right: -5px;
	margin-left: 10px;
	}

.commentlist p {
	margin: 10px 5px 10px 0px;
	padding: 0px;
	}
	
.children { 
	margin: 0px;
	padding: 0px;
	}

.nocomments {
	text-align: center;
	margin: 0px;
	padding: 0px;
	}
	
.reply a, .reply a:visited {
	background: #F7F7F7;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	font-family: Verdana, Arial, Tahoma;
	font-size: 11px;
	color: #333333;
	text-decoration: none;
	margin: 0px;
	padding: 2px 5px 3px 5px;
	border: 0px solid #BBBBBB;
	}
	
.reply a:hover {
	background: #98CD00;
	color: #333333;
	text-decoration: none;
	}

.commentmetadata {
	font-size: 10px;
	margin: 0px;
	display: block;
	}

.navigation {
	display: block;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 40px;
	}
	
.alignright {
	float: right;
	}

.alignleft {
	float: left;
	}
	
.thread-alt {
	background: #FFFFFF;
	margin: 0px;
	padding: 0px;
	}
	
.thread-even {
	background: #F7F7F7;
	margin: 0px;
	padding: 0px;
	}
	
.depth-1 {
	border: 0px solid #CCCCCC;
	margin: 0px;
	padding: 0px;
	}

.even, .alt {
	border-top: 0px solid #CCCCCC;
	border-bottom: 0px solid #CCCCCC;
	border-left: 0px solid #CCCCCC;
	margin: 0px;
	padding: 0px;
	}